.container {
  display: flex;
  align-items: center;

  .content-button-step.spinner {
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .upload-files,
  .validate-otp {
    width: 100%;
    position: relative;
    
    p.content-loading {
      position: absolute;
      z-index: 1;
    }

    p {
      font-family: "Gotham Light Regular";
      color: #707070;
      line-height: 20px;
    }

    .content-form {
      margin: 36px 0px 55px 0px;

      form {
        .form-check {
          margin-bottom: 10px;
          font-family: 'Gotham Light Regular';

          button {
            padding: 6px 25px;
            line-height: 12px;
            font-size: 10px;
            float: right;
            background-color: #37BFFA;
            border-color: #34b8f0;
            font-weight: bold;
          }

          label {
            cursor: pointer;
            color: #707070;
          }

          &:last-child {
            margin-bottom: 0px;
          }
        }

        .alert.alert-danger {
          margin-bottom: 0px;
          position: absolute;
          padding: 1px 20px;

          p {
            margin-bottom: 0px;
            font-size: 0.8rem;
            color: inherit;
          }
        }
      }
    }
  }
}
