<!-- <div class="modal-header text-center">
    <button type="button" class="close" (click)="closeModal()">×</button>
</div>
<form  class="margin-bottom-0"> -->
  <div class="modal-body terminos">
    <h3 class="text-center">Eliminar documento</h3>
    <p>¿Esta seguro que desea eliminar el <b>{{document.descripcion}}</b>?</p> 
</div>
<div class="row justify-content-center mb-4">
    <button class="btn btn-outline-form" (click)="closeModal()">Cancelar</button>
    <button class="btn btn-outline-form2" (click)="confirmar()">
      Confirmar
    </button>

</div>
<!-- <div class="modal-footer">

    <button type="submit" 
        class="btn btn-primary" ></button>
</div> -->
<!-- </form> -->