<div class="content-buttons-next-back top">
  <button class="btn back-button" (click)="back()">
    <img src="/assets/images/Icon_ChevronLeft.svg" alt="">
  </button>
  <button class="btn btn-next" (click)="saveData()">
    <img src="/assets/images/Icon_ChevronRight.svg" alt="">
    <span>
      SIGUIENTE FORMULARIO
    </span>
  </button>
</div>

<form style="padding: 14px;" [formGroup]="form">

  <div class="block-form">
    <h1 class="title-form" [hidden]="tab1?.disabled">Información Laboral</h1>
    <div class="form-row">
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Ocupación</label>
        <select class="form-control" formControlName="ocupacion" (change)="loadJobs(form.controls.ocupacion.value)">
          <option value="">Seleccione Ocupación</option>
          <option [value]="item.table_code" *ngFor="let item of (formData$ | async)?.ACTECO">{{item.dato}}</option>
        </select>
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Actividad Econímica</label>
        <select class="form-control" formControlName="actividad_economica">
          <option value="">Seleccione una Actividad económica</option>
          <option [value]="item.codigo" *ngFor="let item of jobs">{{item.nombre}}</option>
        </select>
      </div>
      <div *ngIf="!empleado" class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Actividad Específica</label>
        <input type="text" class="form-control" formControlName="actividad_especifica">
      </div>
      <div *ngIf="empleado" class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Nombre de la Empresa / Negocio</label>
        <input type="text" class="form-control" formControlName="nombre_empresa">
      </div>
      <div *ngIf="empleado" class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Fecha de Ingreso / Actividad</label>
        <div class="calendar-container">
          <input type="text" formControlName="fecha_ingreso" class="form-control" readonly ngbDatepicker
            #d2="ngbDatepicker" (click)="d2.toggle()" [minDate]="{year: 1950, month: 1, day: 1}" />
        </div>
      </div>
      <div *ngIf="empleado" class="form-group col-md-6 col-lg-4">
        <div class="label-input-content">
          <label class="subtitle-form">Cargo</label>
        </div>
        <input type="text" class="form-control" formControlName="cargo">
      </div>
      <div *ngIf="empleado" class="form-group col-md-6 col-lg-4">
        <div class="label-input-content">
          <label class="subtitle-form">Tipo de Contrato</label>
        </div>
        <select class="form-control" formControlName="tipo_contrato">
          <option value="">Seleccione de contrato</option>
          <option [value]="item.table_code" *ngFor="let item of (formData$ | async)?.TIPCON">{{item.dato}}</option>
        </select>

      </div>
      <div class="form-group col-md-6 col-lg-4">
        <div class="label-input-content">
          <label class="subtitle-form">Dirección empresa / negocio</label>
          <span *ngIf="!validator('direccion')">(Opcional)</span>
        </div>
        <input type="text" class="form-control" formControlName="direccion" (click)="openForm('direccion')" readonly>
      </div>
      <div *ngIf="!empleado" class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Barrio</label>
        <ngx-select-dropdown formControlName="barrio" [multiple]="false" [config]="configSelect"
          [options]="neighborhoods"></ngx-select-dropdown>
        <!-- <select class="form-control" formControlName="barrio">
          <option value="">Seleccione un barrio</option>
          <option [value]="item.value" *ngFor="let item of neighborhoods">{{item.name}}</option>
        </select> -->
      </div>
      <div *ngIf="!empleado" class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Antiguedad del Negocio</label>
        <input type="text" class="form-control" formControlName="actividad_especifica">
      </div>
      <div *ngIf="empleado" class="form-group col-md-6 col-lg-4">
        <div class="label-input-content">
          <label class="subtitle-form">Teléfono empresa / negocio</label>
          <span *ngIf="!validator('telefono')">(Opcional)</span>
        </div>
        <input type="number" class="form-control" formControlName="telefono">
      </div>


    </div>
  </div>

  <div class="block-form">
    <h1 class="title-form" [hidden]="tab1?.disabled">Información de ingresos</h1>
    <div class="form-row">
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Salario / Mesada / Ingresos mes </label>
        <input type="number" class="form-control" formControlName="salario_ing">
        <label class="subtitle-form">{{ form.controls.salario_ing.value | currency: 'USD': true: '1.0-1' }} </label>
      </div>

      <div class="form-group col-md-6 col-lg-4">
        <div class="label-input-content">
          <label class="subtitle-form">Otros ingresos (comisiones, arriendos, etc)
            {{ form.controls.otros_ingresos.value | currency: 'USD': true: '1.0-1' }} </label>
          <span *ngIf="!validator('otros_ingresos')">(Opcional)</span>
        </div>
        <input type="number" class="form-control" formControlName="otros_ingresos">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Activos (Valor total de bienes inmuebles, etc)
          {{ form.controls.total_activos.value | currency: 'USD': true: '1.0-1' }}</label>
        <input type="number" class="form-control" formControlName="total_activos">
      </div>
    </div>
  </div>

  <div class="block-form">
    <h1 class="title-form" [hidden]="tab1?.disabled">Información de Egresos</h1>
    <div class="form-row">
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Pasivos (Valor
          total de préstamos, deudas de TDC y otras deudas)
          {{ form.controls.total_pasivos.value | currency: 'USD': true: '1.0-1' }}</label>
        <input type="number" class="form-control" formControlName="total_pasivos">
      </div>
    </div>

  </div>


  <div class="row" style="padding-top:1.5em;">
    <div class="col-md-12 col-lg-12">
      <div class="d-flex justify-content-end">
        <div class="content-buttons-next-back" style="position: static;">
          <button class="btn back-button" (click)="back()">
            <img src="/assets/images/Icon_ChevronLeft.svg" alt="">
          </button>
          <button class="btn btn-next" (click)="saveData()">
            <img src="/assets/images/Icon_ChevronRight.svg" alt="">
            <span>
              SIGUIENTE FORMULARIO
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

</form>
