@import "../styles/vars/exports";

@import '../../node_modules/angular-archwizard/archwizard.scss';

* {
  //outline: 1px solid red;
}

ul {
  list-style: none;
  padding: 0;
}



.content-loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur-page {
  filter: blur(5px)
}

.popup-fintra {
  width: 100vw;
  height: 100vh;
  // background: rgba(#dadada, .4);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2000;

  .content-popup {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    width: 610px;
    height: auto;
    background: white;
    z-index: 3000;
    box-shadow: 0 1px 3px #CCCCCC, 0 1px 2px #CCCCCC;
    border-radius: 10px;
    overflow: hidden;
    animation: mymove .4s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    padding: 2em;

    .step-popup {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}

label.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 0;
  cursor: pointer;
  font-size: 22px;
  width: 15px;
  height: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
label.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 2px solid #37BFFA;
  border-radius: 2px;
}

/* On mouse-over, add a grey background color */
label.container:hover input~.checkmark {
  background-color: #2196F3;
}

/* When the checkbox is checked, add a blue background */
label.container input:checked~.checkmark {
  background-color: #2196F3;
  border-color: darken(#2196F3, 3%);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
label.container input:checked~.checkmark:after {
  display: block;
}



.light-blue-font {
  font-family: 'Gotham Light Regular';
  color: $blue-light;
  font-size: 16px;
}

.light-blue-yellow-dark {
  font-family: 'Gotham Bold';
  color: $yellow-light;

}


.dark-blue-font {
  font-family: 'Gotham Bold';
  color: $blue-dark !important;
  //   font-size: 26px !important;
}

.dark-blue-font.small {
  font-size: 14px !important;
  margin-top: 3px;
}


.white-box {
  height: 100%;
  overflow-y: auto;
  // position: absolute;
  // top: 100px;
  background: white;
  padding: 40px;
  // margin: 14px 60px 14px 14px;
  box-shadow: 0 0px 6px #CCCCCC !important;
  border-radius: 10px;
  width: 100%;
  padding-bottom: 7em;
}




// BUTTONS
button {
  text-transform: uppercase;
}

.btn-outline-primary {
  color: $blue-light;
  border-color: $blue-light;
  font-family: 'Gotham Bold';
  border: 2px solid $blue-light;
  font-size: .8rem;
  transition: all .2s ease-in-out;
  width: 150px;

  &:hover,
  &:active {
    background-color: #32BEFA !important;
    // background-color: transparent;
    color: white !important;
    padding-left: 15px;
    outline: none;
    border: 2px solid $blue-light;

  }
}

.block-form {
  border-bottom: 2px solid #dadada;
  padding: 1.5em 0;

  &:first-child {
    padding-top: 0;
  }
}

.title-form {
  color: #32BEFA;
  font-family: 'Gotham Bold';
  font-size: 1.4em;
  margin-bottom: 1em;
  text-rendering: optimizeLegibility;
}

.subtitle-form {
  font-family: 'Gotham Bold';
  color: $dark;
  font-weight: 600;
  font-size: 0.9rem;
}

//GLOBAL STYLES INPUTS
.label-input-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5px;

  span {
    color: #999999;
    font-size: 1rem;
  }
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
select {
  font-family: 'Gotham Light Regular' !important;
  font-size: 1rem !important;
  color: $color-inputs !important;
  // border: 1px solid red;
  border-radius: 7px !important;
  height: 44px !important;
  border: 1px solid #37BFFA !important;


  &:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid darken(#37BFFA, 5%) !important;

  }

  &.warning-input {
    background-color: #FFFAEB !important;
    border: 1px solid #FFA412 !important;
  }

  &.ng-touched.ng-invalid:not(form) {
    background-color: #FFFAEB !important;
    border: 1px solid #FFA412 !important;
  }


}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  -moz-appearance: none;
  -webkit-appearance: none;

  &:read-only {
    background: #F0F8FC;
    cursor: pointer;
  }
}

.calendar-container {
  position: relative;

  img {
    position: absolute;
    right: 5px;
  }
}

.input-login {
  width: 400px;
  height: 54px;
  border-radius: 10px;
  font-family: 'Gotham Bold';
  color: #707070;
  padding-left: 30px;
  max-width: 80vw;
}

.button-white {
  background: white;
  width: 160px;
  height: 40px;
  color: $blue-semi-light;
  font-family: 'Gotham Bold';
  font-size: .8em;
  border-radius: 7px;
  border: 2px solid $blue-light;
}

.button-white:active {
  background: white;

  color: $blue-semi-light;
  font-family: 'Gotham Bold';
  font-size: .8em;
  border-radius: 7px;
  border: none !important;
}

.button-white:focus {
  border: 2px solid $blue-light;
}

.button-white:hover {
  border: 2px solid $blue-semi-light;
  background: white;
  color: $blue-semi-light;
}

.button-white.selected {
  border: 2px solid $blue-semi-light;
  outline: none;
  box-shadow: none;
}



.button-blue {
  background: $blue-semi-light;
  width: 160px;
  height: 40px;
  color: white;
  font-family: 'Gotham Bold';
  font-size: .8em;
  border-radius: 7px;
  border: none;
  transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    color: $blue-semi-light;
    transform: scale(1.02);
    background: white;
    border: 2px solid $blue-semi-light;
  }
}

.button-outline-border-white {
  border: 2px solid white;
  font-family: 'Gotham Bold';
  letter-spacing: .8px;
  font-size: 13px;
  width: 206px;
  height: 40px;
  color: white;
  border-radius: 7px;
}

.button-outline-border-orange {
  border: 2px solid #FFA412;
  font-family: 'Gotham Bold';
  font-size: 13px;
  width: 258px;
  height: 40px;
  color: #FFA412;
  border-radius: 7px;
}

.content-button-next-tab {
  position: relative;

  .button-next-tab {}
}


.content-buttons-next-back {
  position: absolute;
  width: auto;
  height: auto;
  right: 20px;
  top: 70px;
  display: flex;
  align-items: center;

  .back-button {
    padding: 0;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 50px;
      height: 50px;
    }
  }

  .btn-next {
    height: 50px;
    width: auto;
    // border-radius: 50%;
    display: flex;
    align-items: center;

    padding: 0;
    margin-left: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    position: relative;

    background: $blue-semi-light;

    color: white;
    font-family: 'Gotham Bold';
    font-size: .8em;
    border: 2px solid $blue-semi-light;
    transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1);


    img {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      position: absolute;
      left: -2px;
    }

    span {
      margin-right: 10px;
      margin-left: 55px;
      color: white;
      font-family: "GotHam Bold";
      font-size: .9rem;
    }


    &.next-step {
      background: #4DEB96;
      border: 2px solid #4DEB96;

      span {
        color: white;
      }
    }



    &:hover {
      color: $blue-semi-light;
      // transform: scale(1.02);
      background: white;
      border: 2px solid $blue-semi-light;

      span {
        color: $blue-semi-light !important;
      }

    }
  }
}


.not-found-list {
  width: 100%;
  padding: 2em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 150px;
  }

  h1 {
    color: #999;
    text-align: center;
  }
}

@media (max-width: 1440px) {
  .white-box {
    padding: 20px;
    width: calc(100vw - 61px);
    left: 61px;
    position: fixed;
    border-radius: 0;
    box-shadow: none;
    height: calc(100vh - 82px);
    top: 82px;
    box-shadow: none !important;
    padding-bottom: 8em;
  }

  .content-buttons-next-back.top {
    display: none;
  }
}

@media (max-width: 768.98px) {
  .white-box {
    padding: 20px;
    width: calc(100vw - 21px);
    left: 21px;
    position: fixed;
    border-radius: 0;
    box-shadow: none;
    height: calc(100vh - 72px);
    top: 72px;
    box-shadow: none !important;
    margin-bottom: 2em;
  }
}

@media (max-width: 575.98px) {
  .content-buttons-next-back.top {
    display: none;
  }
}
