<div class="popup-fintra">
    <div class="content-popup">
        <div class="step-popup">
            <img src="assets/images/Icon_Crédito%20Rechazado.svg" alt="">
            <h1 class="title-form">Lo sentimos,
                Tu crédito no pudo ser aprobado.</h1>
            <span style="margin-top: 10px;">
                Te ayudamos a buscar más opciones, llámanos a la línea
                01 8000 939 885 o escríbenos a servicioalcliente@fintra.co
            </span>


            <button class="btn button-blue" (click)="cancelAndClose()" style="margin-top: 30px;">Aceptar</button>
        </div>


    </div>
</div>