<div [hidden]="!(isVisible$ | async)">
  <div class="popup-fintra">

  </div>
  <div class="form-address">
    <h1 class="title-form" style="margin-bottom: 0">Dirección de residencia</h1>
    <form [formGroup]="addressForm">
      <div class="block-form" style="border:none;">
        <div class="form-row align-items-center justify-content-between">
          <div class="form-group col-md-6 col-lg-6">
            <label class="subtitle-form">Departamento</label>
            <select class="form-control" formControlName="departamento"
              (change)="loadCitys(addressForm.controls.departamento.value)">
              <option value="">Seleccione departamento</option>
              <option [value]="item.table_code" *ngFor="let item of (formData$ | async)?.DPTO">{{item.dato}}</option>
            </select>
          </div>
          <div class="form-group col-md-6 col-lg-6">
            <label class="subtitle-form">Ciudad</label>
            <select class="form-control" formControlName="ciudad"
            (change)="getAddress(addressForm.controls.ciudad.value)">
              <option value="">Seleccione una ciudad</option>
              <option [value]="item.codciu" *ngFor="let item of ciudades">{{item.nomciu}}</option>
            </select>
          </div>
          <div class="form-group col-md-12 col-lg-12">
            <label class="subtitle-form">Tipo de via</label>
            <select name="tipo_via" class="form-control" formControlName="tipo_via">
              <option [value]="item.nombre" *ngFor="let item of address">{{item.nombre}}</option>
            </select>
          </div>
          <div class="form-group col-md-4 col-lg-4">
            <input type="text" class="form-control" id="inputPassword4" formControlName="via_principal"
              placeholder="Vía principal">
          </div>
          <div class="col-md-1 col-lg-1 text-center">
            <p>#</p>
          </div>
          <div class="form-group col-md-4 col-lg-4">
            <input type="text" class="form-control" id="inputPassword4" formControlName="via_secundaria"
              placeholder="Vía secundaria">
          </div>
          <div class="col-md-1 col-lg-1 text-center">
            <p>-</p>
          </div>
          <div class="form-group col-md-3 col-lg-2">
            <input type="text" class="form-control" id="inputPassword4" formControlName="numero">
          </div>

          <div class="form-group col-md-8 col-lg-8">
            <label class="subtitle-form">Complemento de Dirección</label>
            <input type="text" class="form-control" id="inputPassword4" formControlName="complemento">
          </div>

          <div class="form-group col-md-4 col-lg-4 text-right align-items-center" (click)="confirmAddress()"
            style="padding-top: 21px;">
            <button class="btn button-blue " [disabled]="!addressForm.valid" style="margin-top: 7px; height: 44px;">Guardar</button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
