<div class="popup-fintra">

</div>
<div class="form-address">
  <h1 class="title-form" style="margin-bottom: 0">Dirección de residencia</h1>
  <form>
    <div class="block-form" style="border:none;">
      <div class="form-row">
        <div class="form-group col-md-6 col-lg-6">
          <label class="subtitle-form">Departamento</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6 col-lg-6">
          <label class="subtitle-form">Ciudad</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
        <div class="form-group col-md-12 col-lg-12">
          <label class="subtitle-form">Tipo de via</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>


        <div class="form-group col-md-4 col-lg-4">
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
        <div class="col-md-1 col-lg-1">
          <p>#</p>
        </div>
        <div class="form-group col-md-4 col-lg-4">
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
        <div class="col-md-1 col-lg-1">
          <p>-</p>
        </div>
        <div class="form-group col-md-3 col-lg-2">
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>

        <div class="form-group col-md-8 col-lg-8">
          <label class="subtitle-form">Complemento de Dirección</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>

        <div class="form-group col-md-4 col-lg-4">
            <label class="subtitle-form">&nbsp;</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>

      </div>
    </div>
  </form>
</div>
