
<div class="popup-fintra" *ngIf="(isOpenPassword$ | async)">
  <div class="content-popup">
    <div class="step-popup">
      <div class="block-form">
        <h1 class="title-form">En Fintra nos preocupamos por tu seguridad</h1>
        <p>Cambia tu contraseña a una más segura</p>
        <div class="form-row">
          <div class="form-group col-md-12 col-lg-12 ">
            <input type="password" class="form-control" [(ngModel)]="password" name="password"
              placeholder="Nueva Contraseña" (blur)="blurPassword = true;">
            <span *ngIf="password.length < 6 && blurPassword" style="margin-bottom:5px; color:brown; display: block;">La
              contraseña es muy corta,
              minimo 6 caracteres</span>
          </div>

          <div class="progress-password-content">
            <div class="progress-password" [ngClass]="{ 'full-progress': password.length > 5 } "></div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-12 col-lg-12 ">
            <input type="password" class="form-control" [(ngModel)]="password_validation" name="password_validation"
              placeholder="Confirmar Contraseña">
            <span *ngIf="(password != password_validation) && blurPassword && password_validation!=''"
              style=" margin-bottom:5px; color:brown; display: block;">La
              contraseñas no coinciden</span>
          </div>


          <div class="progress-password-content">
            <div class="progress-password"
              [ngClass]="{ 'full-progress': password_validation.length > 5 && password == password_validation } ">
            </div>
          </div>
        </div>
        <div class="row" style="margin-top: 1em;">
          <div class="col-12 text-center">
            <button class="btn button-blue" (click)="changePassword()" [disabled]="validatePasswords()"
              style="width:auto;     min-width: 200px;">Guardar Contraseña</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
