<div id="wrapper-login"  [ngClass]="{'blur-page': (blurPage$ | async)}">
  <div class="login-center-wrapper">
    <!-- <div class="progress"  [hidden]="!(isLoading$ | async )">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div> -->
    <form [formGroup]="loginForm" (submit)="login($event)">
      <img src="/assets/images/Logo Fintra.svg" alt="Fintra Educativo Logo" title="Fintra Educativo Logo">
      <h1>Inicio de Sesión</h1>

      <div class="form-group">
        <input type="text" class="form-control input-login" id="username" placeholder="Correo electrónico o Usuario"
          formControlName="username">
      </div>
      <div class="form-group">
        <input type="password" class="form-control input-login" id="password" placeholder="Contraseña"
          formControlName="password">
      </div>

      <div class="form-group">
        <button class="btn button-white" (click)="login($event)" [disabled]="!loginForm.valid">Iniciar sesión</button>
      </div>
      <a (click)="openRecovery()">¿Olvidaste tu contraseña?</a>

      <button 
          class="btn btn-outline button-outline-border-white" 
          type="submit" 
          >
        ¡ABRE UNA CUENTA!
      </button>
    </form>

  </div>
</div>

<footer class="footer-login">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-sm-1 column-footer d-sm-block d-none d-sm-block"></div>
      <div class="col-lg-5 col-sm-6 column-footer text-center d-none d-sm-block">
        <span class="text-footer">
          ¡Ahora es más fácil, ágil y rápido!
        </span>
      </div>

      <div class="col-lg-1 col-sm-1 column-footer d-sm-block d-none d-sm-block"></div>
      <div class="col-lg-2 col-sm-4 column-footer">
        <button class="btn btn-outline button-outline-border-orange">SOLICITA TU CRÉDITO</button>
      </div>
    </div>
  </div>

</footer>

<app-recover-password></app-recover-password>
<app-change-password></app-change-password>
