    <div class="modal-body terminos">
        <ngx-extended-pdf-viewer  *ngIf="validar" [base64Src]="url_pdf"  [textLayer]="true" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer>
        <ngx-extended-pdf-viewer *ngIf="!validar" [src]="url_pdf"   [textLayer]="true" useBrowserLocale="true" height="80vh"></ngx-extended-pdf-viewer>

    </div>
    <div class="row justify-content-center mb-4">
      <button class="btn btn-outline-form2" (click)="closeModal()">
        Cerrar
      </button>
    </div>
