
<div class="white-box">
  <h1 class="title-form">Documentos por Adjuntar</h1>
  <p>Adjunta los documentos aquí. Todos tus documentos se guardarán automáticamente</p>
  
  <p class="content-loading" *ngIf="isLoading" [ngStyle]="{'padding-top': '2%'}">    
    <img src="/assets/images/loading.gif" alt="">
  </p>

  <div class="files-content" *ngFor="let list of listFiles">
    <div class="file">
      <div>
        <img src="{{ path + ''+ list.icon + '.svg'}}" alt="">
        <p>{{list.descripcion}}</p>
      </div>
      <input type="file" style="display: none" #fileInputFron (change)="onFileSelected(list, $event)"
        [disabled]="list.url != '' ? true : false">
      <button class="btn btn-outline button-blue" (click)='fileInputFron.click()'
        [ngClass]="list.url != '' ? 'up' : ''">
        <span *ngIf="list.url == ''">{{ adj }}</span>
        <span *ngIf="list.url != ''">{{ adt }}</span>
      </button>
    </div>
  </div>

</div>