<div class="white-box">
  <div [ngSwitch]="tabFiles">
    <div *ngSwitchCase="1">
      <h1 class="title-form">Sube tus Documentos</h1>
      <p>*Recomendaciones: Asegúrate que la información se vea lo más nítida y cerca posible. Sube en PDF los documentos
        que
        tengan más de 1 hoja.</p>

      <p class="content-loading" *ngIf="isLoading" [ngStyle]="{'padding-top': '2%'}">
        <img src="/assets/images/loading.gif" alt="">
      </p>

      <div class="container">
        <div class="col-md-12 files-content" *ngFor="let list of listFiles; let i = index">
          <div class="file">
            <div>
              <img src="{{ path + ''+ (i + 1) + '.svg'}}" alt="documento fintra" class="image-file-big">
              <p>{{list.descripcion}}</p><br>
              <!-- <span *ngIf="list.file_name">{{list.file_name}}</span> -->
            </div>
            <input type="file" style="display: none" #fileInputFron (change)="onFileSelected(list, $event)"
              [disabled]="list.url != '' ? true : false">
            <div class="options-file">
              <img src="/assets/images/download.png" (click)="downloadFile(list)" *ngIf="showDownload(list)">
              <img src="/assets/images/clip.png" alt="" (click)='fileInputFron.click()'>
              <img src="/assets/images/trash.png" alt="" (click)="deleteFile(list)">
            </div>
            <!-- <button class="btn btn-outline button-blue" (click)='fileInputFron.click()'
              [ngClass]="list.url != '' ? 'up' : ''">
              <span *ngIf="list.url == ''">{{ adj }}</span>
              <span *ngIf="list.url != ''">{{ adt }}</span>
            </button> -->
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 3em;">
        <div class="col-md-8 text-right" style="padding-top: 15px;">
          <!-- <span style="color: #37BFFA; cursor: pointer;" (click)="openVisit()">¿NECESITAS QUE UN ASESOR RECOJA TUS DOCUMENTOS?</span> -->
        </div>
        <div class="col-md-4">
          <div class="d-flex justify-content-center">
            <div class="content-buttons-next-back" style="position: static;">

              <button class="btn button-blue" (click)="save()" *ngIf="!allFileUploaded">
                Dejar para mas tarde
              </button>
              <button class="btn button-blue" (click)="save()" *ngIf="allFileUploaded">
                FINALIZAR ETAPA
              </button>

              <button class="btn btn-next" (click)="nextTap(2)">
                <img src="/assets/images/Icon_ChevronRight.svg" alt="">
                <span>
                  FIRMAR
                </span>
              </button>

              <!-- <button class="btn btn-next next-step">
                <img src="/assets/images/Grupo 301.png" alt="">
                <span>
                  FINALIZAR ETAPA
                </span>
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngSwitchCase="2" class="upload-files">

      <div class="row justify-content-center">
        <div class="col-lg-8">
          <h1 class="title-form text-center my-2">Documentos por firmar</h1>
          <p class="text-center mb-0">Los siguientes documentos se requieren para legalizar tu crédito
            acepta en los recuadros uno a uno los términos y condiciones si estás de acuerdo.</p>
        </div>
      </div>
      <div class="row justify-content-center content-form">
        <form [formGroup]="documentsForm" (ngSubmit)="onSubmit()">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="planpagos" value="1" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              Plan de pagos
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="asesoria" value="2" id="flexCheckChecked"
              checked>
            <label class="form-check-label" for="flexCheckChecked">
              Asesoría de crédito
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="aval" value="3" id="flexCheckDefault2">
            <label class="form-check-label" for="flexCheckDefault2">
              Aval de crédito
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="terminos" value="4" id="flexCheckChecked3"
              checked>
            <label class="form-check-label" for="flexCheckChecked3">
              Términos y condiciones
            </label>
          </div>
        </form>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <p class="text-center mb-4">Confirmo que he leído, comprendido, y estoy de acuerdo con los términos y
            condiciones
            planteados en los
            documentos anteriormente detallados.</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <button class="btn btn-outline-form" (click)="nextTap(1)">ATRAS</button>
        <button class="btn button-blue" [disabled]="!documentsForm.valid">
          IR A FIRMAR
        </button>
      </div>
    </div>
    <div *ngSwitchDefault>
      <h1 class="title-form">Sube tus Documentos</h1>
      <p>*Recomendaciones: Asegúrate que la información se vea lo más nítida y cerca posible. Sube en PDF los documentos
        que
        tengan más de 1 hoja.</p>

      <p class="content-loading" *ngIf="isLoading" [ngStyle]="{'padding-top': '2%'}">
        <img src="/assets/images/loading.gif" alt="">
      </p>

      <div class="container">
        <div class="col-md-12 files-content" *ngFor="let list of listFiles; let i = index">
          <div class="file">
            <div>
              <img src="{{ path + ''+ (i + 1) + '.svg'}}" alt="documento fintra" class="image-file-big">
              <p>{{list.descripcion}}</p><br>
              <!-- <span *ngIf="list.file_name">{{list.file_name}}</span> -->
            </div>
            <input type="file" style="display: none" #fileInputFron (change)="onFileSelected(list, $event)"
              [disabled]="list.url != '' ? true : false">
            <div class="options-file">
              <img src="/assets/images/download.png" (click)="downloadFile(list)" *ngIf="showDownload(list)">
              <img src="/assets/images/clip.png" alt="" (click)='fileInputFron.click()'>
              <img src="/assets/images/trash.png" alt="" (click)="deleteFile(list)">
            </div>
            <!-- <button class="btn btn-outline button-blue" (click)='fileInputFron.click()'
              [ngClass]="list.url != '' ? 'up' : ''">
              <span *ngIf="list.url == ''">{{ adj }}</span>
              <span *ngIf="list.url != ''">{{ adt }}</span>
            </button> -->
          </div>
        </div>
      </div>
      <div class="row" style="margin-top: 3em;">
        <div class="col-md-8 text-right" style="padding-top: 15px;">
          <!-- <span style="color: #37BFFA; cursor: pointer;" (click)="openVisit()">¿NECESITAS QUE UN ASESOR RECOJA TUS DOCUMENTOS?</span> -->
        </div>
        <div class="col-md-4">
          <div class="d-flex justify-content-center">
            <div class="content-buttons-next-back" style="position: static;">

              <button class="btn button-blue" (click)="save()" *ngIf="!allFileUploaded">
                Dejar para mas tarde
              </button>
              <button class="btn button-blue" (click)="save()" *ngIf="allFileUploaded">
                FINALIZAR ETAPA
              </button>

              <button class="btn btn-next" (click)="nextTap(2)">
                <img src="/assets/images/Icon_ChevronRight.svg" alt="">
                <span>
                  FIRMAR
                </span>
              </button>

              <!-- <button class="btn btn-next next-step">
                <img src="/assets/images/Grupo 301.png" alt="">
                <span>
                  FINALIZAR ETAPA
                </span>
              </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
