<div id="wrapper-login" >
    <div class="login-center-wrapper">
        <form [formGroup]="registerForm" (submit)="register($event)">
            <div class="container main">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 d-flex justify-content-center">
                        <img src="/assets/images/Logo Fintra.svg" alt="Fintra Educativo Logo"
                            title="Fintra Educativo Logo">
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 d-flex justify-content-center" id="lbl">
                        <h1 class="text-white lbl">Abre una cuenta</h1>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <div class="fusion-builder-row fusion-row">
                            <div class="row">
                                <div class="col-md-6 form--izq">
                                    <div class="form-group">
                                        <label class="text-white" for="tipo_id">Tipo identificacion</label>
                                        <select class="form-control" id="tipo_id" formControlName="tipo_identificacion" required>
                                            <option value="CED">Cédula de ciudadanía</option>
                                            <option value="NIT">Nit</option>
                                            <option value="CC">Cédula de extranjeria</option>
                                            <option value="TI">Tarjeta de ídentidad</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 form--der">
                                    <div class="form-group">
                                        <label class="text-white" for="identificacion">Identificacion</label>
                                        <input type="number" class="form-control" id="identificacion"
                                            formControlName="identificacion" required>
                                    </div>
                                </div>
                                <div class="col-md-6 form--izq">
                                    <div class="form-group">
                                        <label class="text-white" for="expedicion">Fecha Expedicion</label>
                                        <input type="text" class="form-control" id="expedicion" ngbDatepicker
                                        #d1="ngbDatepicker" (click)="d1.toggle()" formControlName="fecha_expedicion" required readonly>
                                    </div>
                                </div>
                                <!-- <div class="col-md-6 form--der">
                                        <div class="form-group">
                                            <label class="text-white" for="ciudad">Ciudad de estudio</label>
                                            <select class="form-control" id="ciudad" required  formControlName="ciudad">
                                               
                                            </select>
                                        </div>
                                    </div> -->

                                <div class="col-md-6 form--izq">
                                    <div class="form-group">
                                        <label class="text-white" for="primer_nombre">Primer nombre</label>
                                        <input type="text" class="form-control" id="primer_nombre"
                                            formControlName="primer_nombre" required>
                                    </div>
                                </div>

                                <div class="col-md-6 form--der">
                                    <div class="form-group">
                                        <label class="text-white" for="primer_apellido">Primer apellido</label>
                                        <input type="text" class="form-control" id="primer_apellido"
                                            formControlName="primer_apellido" required>
                                    </div>
                                </div>

                                <div class="col-md-6 form--izq">
                                    <div class="form-group">
                                        <label class="text-white" for="email">Correo electrónico</label>
                                        <input id="email" class="form-control" type="email" formControlName="email" required/>
                                    </div>
                                </div>

                                <div class="col-md-6 form--der">
                                    <div class="form-group">
                                        <label class="text-white" for="contrasena">Contraseña</label>
                                        <input type="password" class="form-control" id="contrasena"
                                            formControlName="password1" required>
                                    </div>
                                </div>

                                <div class="col-md-6 form--izq">
                                    <div class="form-group">
                                        <label class="text-white" for="fecha-exp">Confirmar Contraseña</label>
                                        <input type="password" name="confirmPas" class="form-control" formControlName="password2" required>                                        
                                        <div class="alert alert-warning" 
                                             role="alert" 
                                             *ngIf="(this.registerForm.controls.password2.touched && this.registerForm.controls.password2.value == '') || 
                                                    (this.registerForm.controls.password1.value != this.registerForm.controls.password2.value && this.registerForm.controls.password2.touched) ">
                                            Tus credenciales no son iguales!
                                        </div>                                                                               
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-12 d-flex justify-content-center">
                                    <button class="btn btn-outline button-outline-border-white" type="submit">
                                        ¡ABRE UNA CUENTA!
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<footer class="footer-login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-1 column-footer d-sm-block d-none d-sm-block"></div>
            <div class="col-lg-5 col-sm-6 column-footer text-center d-none d-sm-block">
                <span class="text-footer">
                    ¡Ahora es más fácil, ágil y rápido!
                </span>
            </div>

            <div class="col-lg-1 col-sm-1 column-footer d-sm-block d-none d-sm-block"></div>
            <div class="col-lg-2 col-sm-4 column-footer">
                <button class="btn btn-outline button-outline-border-orange">SOLICITA TU CRÉDITO</button>
            </div>
        </div>
    </div>

</footer>