<div id="wrapper-login" [ngClass]="{'blur-page': (blurPage$ | async)}">
    <div class="login-center-wrapper">
        <form [formGroup]="registerForm" (submit)="register($event)">
            <div class="container main">
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 d-flex justify-content-center">
                        <img src="/assets/images/Logo Fintra.svg" alt="Fintra Educativo Logo"
                            title="Fintra Educativo Logo">
                    </div>
                </div>
                <div class="row d-flex justify-content-center lbl">
                    <div class="col-md-8 d-flex justify-content-center">
                        <h1 class="text-white">Abre una cuenta</h1>
                    </div>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-8">
                        <div class="fusion-builder-row fusion-row">
                            <form id="presolicitud">
                                <div class="row">
                                    <div class="col-md-6 form--izq">
                                        <div class="form-group">
                                            <label class="text-white" for="ciudad">Tipo identificacion</label>
                                            <select class="form-control" required>
                                                <option disabled selected value></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form--der">
                                        <div class="form-group">
                                            <label class="text-white" for="fecha-pago">Identificacion</label>
                                            <input type="text" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form--izq">
                                        <div class="form-group">
                                            <label class="text-white" for="institución-educativa">Fecha Expedicion</label>
                                            <input type="text" class="form-control" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6 form--der">
                                        <div class="form-group">
                                            <label class="text-white" for="tipo-carrera">Ciudad de estudio</label>
                                            <select class="form-control" id="tipo_carrera" required>
                                                <option disabled selected value></option>                                                
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-md-6 form--izq">
                                        <div class="form-group">
                                            <label class="text-white" for="valor-semestre">Primer nombre</label>
                                            <input type="text" class="form-control" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6 form--der">
                                        <div class="form-group">
                                            <label class="text-white" for="plazo-carrera">Primer apellido</label>
                                            <input type="text" class="form-control" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6 form--izq">
                                        <div class="form-group">
                                            <label class="text-white" for="email">Correo electrónico</label>
                                            <input id="email" class="form-control"  type="email" required />
                                        </div>
                                    </div>

                                    <div class="col-md-6 form--der">
                                        <div class="form-group">
                                            <label class="text-white" for="identificacion">Contraseña</label>
                                            <input type="text" class="form-control"  required>
                                        </div>
                                    </div>

                                    <div class="col-md-6 form--izq">
                                        <div class="form-group">
                                            <label class="text-white" for="fecha-exp">Validar Contraseña</label>
                                            <input type="text" class="form-control" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-12 d-flex justify-content-center">
                                        <button class="btn btn-outline button-outline-border-white" type="submit">
                                            ¡ABRE UNA CUENTA!
                                        </button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<footer class="footer-login">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-sm-1 column-footer d-sm-block d-none d-sm-block"></div>
            <div class="col-lg-5 col-sm-6 column-footer text-center d-none d-sm-block">
                <span class="text-footer">
                    ¡Ahora es más fácil, ágil y rápido!
                </span>
            </div>

            <div class="col-lg-1 col-sm-1 column-footer d-sm-block d-none d-sm-block"></div>
            <div class="col-lg-2 col-sm-4 column-footer">
                <button class="btn btn-outline button-outline-border-orange">SOLICITA TU CRÉDITO</button>
            </div>
        </div>
    </div>

</footer>