.content-popup {

    max-width: 90%;

    .step-popup {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    h1,
    p {
        text-align: center;
    }

    .block-form {
        border: none;
        padding: 0; 
    }

    ul{
        li{
            margin-bottom: 10px;
            input{
                margin-right: 5px;
            }
        }
    }
}