<div class="popup-fintra" *ngIf="(isOpen$ | async)">
    <div class="content-popup">
        <div class="step-popup" *ngIf="(currentStep$ | async ) == 1">
            <div class="block-form">
                <h1 class="title-form" [hidden]="tab1?.disabled">Restablece tu contraseña</h1>
                <!-- <p>Digita tu numero de cedula para iniciar el proceso</p> -->
                <div class="form-row">
                    <div class="form-group col-md-12 col-lg-12 ">
                        <label class="subtitle-form">Digita tu numero de cedula</label>
                        <input type="number" class="form-control" [(ngModel)]="identificacion" name="identificacion">
                    </div>
                    <div class="form-group col-md-12 col-lg-12 text-center">
                        <button class="btn btn-primary" (click)="recoveryPassword()">Recordar contraseña</button>
                        <!-- <button class="btn btn-outline-light">Cancelar</button> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="step-popup" *ngIf="(currentStep$ | async ) == 2">
            <h1 class="title-form" [hidden]="tab1?.disabled">Restablece tu contraseña</h1>
            <p>Selecciona el medio en el cual enviaremos un código de seguridad:</p>

            <ul>
                <li *ngFor="let item of (methods$ | async)">
                    <input type="radio" [(ngModel)]="methodSelected" [value]="item.type" />
                    <span *ngIf="item.type=='email'">enviar correo a </span>
                    <span *ngIf="item.type=='celular'">enviar SMS a tu celular </span>
                    <b> {{item.value}}</b>
                </li>
            </ul>

            <button (click)="setMethodSelected()">Restablecer</button>
        </div>

    </div>
</div>