<div class="white-box">
  <div class="row">
    <div class="col-md-12">
      <h3 class="light-blue-yellow-dark">Crear nueva solicitud</h3>
    </div>
  </div>


  <div class="box-form-request">
    <form [formGroup]="form">
      <div class="block-form">
        <h1 class="title-form">Información Personal del Solicitante</h1>
        <div class="form-row">
          <div class="form-group col-md-6 col-lg-4 ">
            <label class="subtitle-form">Ciudad</label>
            <select class="form-control" formControlName="ciudad" (change)="loadAfiliates()">
              <option [value]="city.codigo" *ngFor="let city of cities">{{city.ciudad}}</option>
            </select>
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Institución educativa</label>
            <select class="form-control" formControlName="afiliado" (change)="buildDues()">
              <option [value]="item.nit_afiliado" *ngFor="let item of afiliates">{{item.nombre_afiliado}}</option>
            </select>
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Tipo de carrera</label>
            <select class="form-control" formControlName="tipo_carrera" (change)="buildDues()">
              <option value="PREGRADO">Pregrado</option>
              <option value="POSGRADO">Posgrado</option>
              <option value="CONTINUADA">Educación Continuada</option>
            </select>
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Fecha primer pago</label>
            <select class="form-control" formControlName="fecha_pago">
              <option [value]="date" *ngFor="let date of dates">{{date}}</option>
            </select>
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Valor semestre</label>
            <input type="number" class="form-control" formControlName="monto">
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Plazo crédito(Meses)</label>
            <select class="form-control" formControlName="num_cuotas">
              <option [value]="item" *ngFor="let item of dues">{{item}}</option>
            </select>
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Ingresos mensuales</label>
            <input type="number" class="form-control" formControlName="ingresos_usuario" />
          </div>
        </div>

      </div>


      <!-- <div class="block-form" style="border: none;">
        <div class="form-row">
          <div class="form-group col-md-6 col-lg-4 ">
            <label class="subtitle-form">Tipo de identificación</label>
            <select name="" id="" class="form-control" formControlName="tipo_identificacion">
              <option value="CED">Cedula de ciudadania</option>
            </select>
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Identificación</label>
            <input type="number" class="form-control" formControlName="identificacion">
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Fecha de expedición de la cédula</label>
            <input type="date" class="form-control" formControlName="fecha_expedicion" readonly ngbDatepicker
              #d1="ngbDatepicker" (click)="d1.toggle()">
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Fecha de nacimiento</label>
            <input type="date" class="form-control" formControlName="fecha_nacimiento" readonly ngbDatepicker
              #d2="ngbDatepicker" (click)="d2.toggle()"
              [maxDate]="maxDate"
              [displayMonths]="2">
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Primer Apellido</label>
            <input type="text" class="form-control" formControlName="primer_apellido">
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Primer nombre</label>
            <input type="text" class="form-control" formControlName="primer_nombre">
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Email activo</label>
            <input type="email" class="form-control" formControlName="email" />
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Telefono</label>
            <input type="number" class="form-control" formControlName="telefono" />
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Ingresos mensuales</label>
            <input type="number" class="form-control" formControlName="ingresos_usuario" />
          </div>
        </div>


      </div> -->
    </form>


    <div class="row">
      <div class="col-lg-7 col-md-7" *ngIf="!(resultSimulation$ | async)">
      </div>
      <div class="col-lg-7 col-md-7 col-12 content-simulation" *ngIf="(resultSimulation$ | async)">
        <div class="content-text-simulation">
          <img src="/assets/images/Icon_FlechaAprobado.svg" alt="">
          <h3 class="label-simulation">SIMULACIÓN DE CRÉDITO PRE-APROBADA</h3>
        </div>
        <div class="content-result-simulation">
          <p>Valor apróximado de cuota
            {{(resultSimulation$ | async).result.valor_cuota | currency:'USD':true:'1.0-0'}}</p>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-12 terms-and-buttons">
        <div class="terminos">
          <input type="checkbox" [(ngModel)]="acceptTerms" name="acceptTerms">
          <p style="margin: 0;">
            Acepto los términos y condiciones
          </p>
        </div>
        <div class="content-buttons">
          <button class="btn button-white" (click)="simulate()">Simular</button>
          <button class="btn button-blue" (click)="send()"
            [disabled]="!(resultSimulation$ | async) || !acceptTerms">Solicitar</button>
        </div>
      </div>
    </div>


  </div>





</div>
