<div class="white-box">
  <div class="row">
    <div class="col-md-12">
      <h3 class="light-blue-yellow-dark">Crear nueva solicitud <span [hidden]="!isRenewCredit">de renovación</span></h3>
    </div>
  </div>


  <div class="box-form-request">
    <form [formGroup]="form">
      <div class="block-form" style="border-bottom: none;">
        <h1 class="title-form">Información Personal del Solicitante</h1>
        <div class="form-row">
          <div class="form-group col-md-6 col-lg-4 ">
            <label class="subtitle-form">Ciudad</label>
            <select class="form-control" formControlName="ciudad" (change)="loadAfiliates()">
              <option value="">Seleccione una ciudad</option>
              <option [value]="city.codigo" *ngFor="let city of cities">{{city.ciudad}}</option>
            </select>
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Institución educativa</label>
            <select class="form-control" formControlName="afiliado" (change)="buildDues()">
              <option value="">Seleccione una nstitución educativa</option>
              <option [value]="item.nit_afiliado" *ngFor="let item of afiliates">{{item.nombre_afiliado}}</option>
            </select>
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Tipo de carrera</label>
            <select class="form-control" formControlName="tipo_carrera" (change)="buildDues()">
              <option value="">Seleccione un tipo de carrera</option>
              <option value="PREGRADO">Pregrado</option>
              <option value="POSGRADO">Posgrado</option>
              <option value="CONTINUADA">Educación Continuada</option>
            </select>
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Fecha primer pago</label>
            <select class="form-control" formControlName="fecha_pago" (change)="buildDues()">
              <option value="">Seleccione fecha primer pago</option>
              <option [value]="date" *ngFor="let date of dates">{{date}}</option>
            </select>
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Valor semestre
              {{form.controls.monto.value | currency:'USD':true:'1.0-0'}}</label>
            <input type="number" class="form-control" formControlName="monto" (change)="buildDues()">
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Plazo crédito(Meses)</label>
            <select class="form-control" formControlName="num_cuotas">
              <option value="">Seleccione plazo del crédito</option>
              <option [value]="item" *ngFor="let item of dues">{{item}}</option>
            </select>
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Ingresos mensuales
              {{form.controls.ingresos_usuario.value | currency:'USD':true:'1.0-0'}}</label>
            <input type="number" class="form-control" formControlName="ingresos_usuario" />
          </div>
          <div class="form-group col-md-6 col-lg-4" [hidden]="!isRenewCredit">
            <label class="subtitle-form">Semestre a cursar</label>
            <select class="form-control" formControlName="semestre">
              <option value="">Selecciona un semestre</option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
              <option value=6>6</option>
              <option value=7>7</option>
              <option value=8>8</option>
              <option value=9>9</option>
              <option value=10>10</option>
            </select>
          </div>
        </div>

      </div>


      <div class="block-form" style="border: none;" *ngIf="auth.tipo_usuario=='E'">
        <div class="form-row">
          <div class="form-group col-md-6 col-lg-4 ">
            <label class="subtitle-form">Tipo de identificación</label>
            <select name="" id="" class="form-control" formControlName="tipo_identificacion">
              <option value="CED">Cedula de ciudadania</option>
            </select>
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Identificación</label>
            <input type="number" class="form-control" formControlName="identificacion">
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Fecha de expedición de la cédula</label>
            <input type="date" class="form-control" formControlName="fecha_expedicion" readonly ngbDatepicker
              #d1="ngbDatepicker" (click)="d1.toggle()" [minDate]="{year: 1967, month: 1, day: 1}">
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Fecha de nacimiento</label>
            <input type="date" class="form-control" formControlName="fecha_nacimiento" readonly ngbDatepicker
              #d2="ngbDatepicker" (click)="d2.toggle()" [maxDate]="maxDate" [minDate]="{year: 1967, month: 1, day: 1}">
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Primer Apellido</label>
            <input type="text" class="form-control" formControlName="primer_apellido">
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Primer nombre</label>
            <input type="text" class="form-control" formControlName="primer_nombre">
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Email activo</label>
            <input type="email" class="form-control" formControlName="email" />
          </div>
          <div class="form-group col-md-6 col-lg-4">
            <label class="subtitle-form">Telefono</label>
            <input type="number" class="form-control" formControlName="telefono" />
          </div>

        </div>


      </div>
    </form>


    <div class="row">
      <div class="col-lg-7 col-md-7" *ngIf="!(resultSimulation$ | async)">
      </div>
      <div class="col-lg-7 col-md-7" *ngIf="(resultSimulation$ | async) && isRenewCredit">
        <div class="row">
          <div class="col-md-12">
            <span class="light-blue-font">Valor total nuevo crédito</span>
          </div>
          <div class="col-md-12">
            <h5 class="dark-blue-font" style="font-size: 1.8em;">
              {{(resultSimulation$ | async ).result.total_nuevo_credito | currency:'USD':true:'1.0-0'}}</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <span class="light-blue-font">Valor total cuota aproximada</span>
          </div>
          <div class="col-md-12">
            <h5 class="dark-blue-font" style="font-size: 1.8em;">
              {{(resultSimulation$ | async ).result.nueva_cuota_aproximada | currency:'USD':true:'1.0-0'}}</h5>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <span class="light-blue-font">Saldo crédito actual</span>
            <h5 class="dark-blue-font">
              {{(resultSimulation$ | async ).result.saldo_credito_anterior | currency:'USD':true:'1.0-0'}}</h5>
          </div>
          <div class="col-md-4">
            <span class="light-blue-font">Nuevo saldo solicitado</span>
            <h5 class="dark-blue-font">
              {{(resultSimulation$ | async ).result.monto_solicitado | currency:'USD':true:'1.0-0'}}</h5>
          </div>
        </div>


      </div>
      <div class="col-lg-7 col-md-7 col-12 content-simulation" *ngIf="(resultSimulation$ | async) &&  !isRenewCredit">
        <div class="content-text-simulation">
          <img src="/assets/images/Icon_FlechaAprobado.svg" alt="">
          <h3 class="label-simulation">SIMULACIÓN DE CRÉDITO</h3>
        </div>
        <div class="content-result-simulation">
          <p>Valor apróximado de cuota
            {{(resultSimulation$ | async).result.valor_cuota | currency:'USD':true:'1.0-0'}}</p>
        </div>
      </div>
      <div class="col-lg-5 col-md-5 col-12 terms-and-buttons">
        <div class="terminos">
          <label class="container">
            <input type="checkbox" [(ngModel)]="acceptTerms">
            <span class="checkmark"></span>
          </label>
          <a style="margin: 0;" href="/assets/pdf/Términos y Condiciones - Fintra.pdf" target="_blank"
            style="color: #37BFFA;">
            Acepto los términos y condiciones
          </a>
        </div>
        <div class="content-buttons">
          <button class="btn button-white" (click)="simulate()">Simular</button>
          <button class="btn button-blue" (click)="send()"
            [disabled]="!(resultSimulation$ | async) || !acceptTerms">Solicitar</button>
        </div>
      </div>
    </div>


  </div>





</div>