.container {
  display: flex;
  align-items: center;

  .content-button-step.spinner {
    height: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .upload-files,
  .validate-otp {
    width: 100%;
    position: relative;

    p.content-loading {
      position: absolute;
      z-index: 1;
    }

    p {
      font-family: "Gotham Light Regular";
      color: #707070;
      line-height: 20px;
    }
  }
}
