<div id="iFrameContainer" class="hide">
  <iframe id="iFrame" allow="camera" class="iframe__wrapper" frameborder="0"></iframe>
</div>

<div *ngIf="showStep" class="container" [ngStyle]="{'height': main, 'max-height': main}">
  <div class="upload-files">
    <div class="row justify-content-center">
      <div class="col-lg-7 text-center" >
        <h3 class="title-form text-center my-2">
          ¡Error de validación de identidad!
        </h3>
        <button class="btn btn-outline-form mr-0 mt-3" (click)="aceptar()">
          ACEPTAR
        </button>
      </div>
    </div>
  </div>
</div>

<div class="content-button-step spinner"  [ngStyle]="{'height': main, 'max-height': main}">
  <div class="lds-spinner">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
