h4{
    margin-bottom: 20px;
}
.row > .col-lg-4.offset-lg-4 {
    margin-bottom: 20px;
}
.col-lg-4.offset-lg-4 img {
    max-width: 70%;
    position: relative;
    left: 50%;
    margin-left: -55.9375px;
}
.crearMedicamento .form-group {
    margin-bottom: 1.8rem;
}
.form-group select{
    background: #F2F6FF;
    border-radius: 22px;
}
.alert.alert-danger {
    background: #ffcdcc;
    color: #802d2b;
    font-weight: bold;
    padding: 5px 15px;
    max-width: max-content;
    margin-bottom: 5px;
    margin-top: 3px;
    border-radius: 22px;
    position: absolute;
}