<p *ngIf="(isLoading$ | async) " class="content-loading">
  <img src="/assets/images/loading.gif" alt="">
</p>
<div class="row  " style="padding: 1em; margin-top: 6px;" *ngIf="!(isLoading$ | async)  && !(error$ | async)">
  <div class="col-md-12">
    <div *ngIf="(listRequest$ | async ).length == 0" class="not-found-list">
      <img src="assets/images/Icon_Crédito%20Rechazado.svg" alt="">
      <h1>No se encontró ningún resultado</h1>
    </div>
    <div class="row item-request" *ngFor="let item of (listRequest$ | async )"
      [ngClass]="{'desembolsado': item.etapa== 8, 'not-aproved': item.etapa == -1}">



      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-6 col-sm-6" *ngIf="auth.tipo_usuario != 'E'">
            <span>Nombre Estudiante</span>
            <h2 [ngStyle]="{'visibility': item.nombre_estudiante? 'visible' : 'hidden' }">
              {{item?.nombre_estudiante}}
            </h2>
          </div>
          <div class="col-lg-6 col-sm-6" *ngIf="auth.tipo_usuario == 'E'">
            <span>Nombre Solicitante</span>
            <h2>
              {{item?.primer_nombre}} {{item?.primer_apellido}}
            </h2>
          </div>
          <div class="col-lg-6 col-md-6" *ngIf="item.monto_credito && type_list=='requests'">
            <span>Valor total crédito</span>
            <h2>
              {{item.monto_credito | currency:'USD':true:'1.0-0'}}
            </h2>
          </div>

          <div class="col-lg-6 col-md-6" *ngIf="item.valor_negocio && type_list=='credits'">
            <span>Valor total crédito</span>
            <h2>
              {{item.valor_negocio | currency:'USD':true:'1.0-0'}}
            </h2>
          </div>


        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6">
            <span>Universidad/Institución</span>
            <h5>
              {{item.name_afiliado}}
            </h5>
          </div>
          <div class="col-lg-6 col-md-6" *ngIf="item.valor_cuota && type_list=='requests'">
            <span>Valor total cuotas</span>
            <h2>
              {{item.valor_cuota | currency:'USD':true:'1.0-0'}}
            </h2>
          </div>

          <div class="col-lg-2 col-md-3" *ngIf="item.monto_renovacion != null && type_list=='credits'">
            <span>Saldo pendiente</span>
            <h5>
              {{item.monto_renovacion | currency:'USD':true:'1.0-0'}}
            </h5>
          </div>
        </div>

        <div class="row small-info">
          <div class="col-lg-2 col-md-2" *ngIf="item.numero_solicitud && type_list=='requests'">
            <div>
              <span>Nº solicitud</span>
              <h5>
                {{item.numero_solicitud}}
              </h5>
            </div>
          </div>
          <div class="col-lg-2 col-md-2" *ngIf="item.negocio && type_list=='credits'">
            <div>
              <span>Negocio</span>
              <h5>
                {{item.negocio}}
              </h5>
            </div>
          </div>

          <div class="col-lg-2 col-md-2" *ngIf="item.numero_cuotas && type_list=='requests'">
            <div>
              <span>Plazo</span>
              <h5>
                {{item.numero_cuotas}} Meses
              </h5>
            </div>
          </div>

          <div class="col-lg-2 col-md-2" *ngIf="item.valor_saldo_total && type_list=='requests'">
            <span>Saldo pendiente</span>
            <h5>
              {{item.valor_saldo_total | currency:'USD':true:'1.0-0'}}
            </h5>
          </div>

          <div class="col-lg-2 col-md-2" *ngIf="item.semestre && type_list=='credits'">
            <div>
              <span>Semestre actual</span>
              <h5>
                {{item.semestre}}º SEMESTRE
              </h5>
            </div>
          </div>

          <div class="col-lg-2 col-md-2" *ngIf="item.mora && type_list=='credits'">
            <div>
              <span>Estado</span>
              <h5 *ngIf="item.mora == 'f'">
                Al Dia
              </h5>
              <h5 *ngIf="item.mora == 't'">
                En mora
              </h5>
            </div>
          </div>

        </div>

      </div>

      <div class="col-md-12 col-sm-12 col-lg-6" *ngIf="(item.etapa != 8 && item.etapa != -1)">

        <div class="row align-items-center">
          <div class="col-lg-12 col-6" *ngIf="type_list=='requests'">
            <app-timeline [currentStep]="item.etapa"></app-timeline>
          </div>
          <div class="col-lg-12 col-6 justify-content-end text-right" *ngIf="type_list=='requests'">

            <button class="btn button-blue" style=" margin-top:1em;" [routerLink]="routerLink(item)"
              *ngIf="validateButton(item)">
              {{getTitleButton(item)}}
            </button>

          </div>

          <div class="col-lg-12 col-6 justify-content-end align-items-center text-right" *ngIf="type_list=='credits'"
            style="transform: translateY(120%)">

            <button class="btn button-blue" style=" margin-top:1em;" routerLink="/app/renew-credit/{{item.negocio}}"
              *ngIf="(item.cumple_renovacion == 't' || item.politica=='T')">renovar credito</button>
            <button class="btn button-blue" style=" margin-top:1em;"
              *ngIf="!(item.cumple_renovacion == 't' || item.politica=='T')" disabled>renovar
              credito</button>

          </div>
        </div>

      </div>

      <div class="col-lg-6 text-right aproved-content" *ngIf="item.etapa == 8 ">
        <img src="/assets/images/Icon_Crédito Desembolsado_Verde.svg">
        <button class="btn btn-desemboldado" [disabled]="true">CRÉDITO DESEMBOLSADO</button>
      </div>

      <div class="col-lg-6 text-right not-aproved-content" *ngIf="item.etapa == -1">
        <img src="/assets/images/Icon_Crédito Rechazado.svg">
        <button class="btn btn-not-aproved" [disabled]="true">CRÉDITO RECHAZADO</button>
      </div>

    </div>


    <div style="display: flex; justify-content: center;" *ngIf="type_list=='requests'">
      <button class="btn button-white" (click)="loadMore()">Cargar Mas</button>
    </div>
  </div>
</div>