<div class="wrapper" [ngClass]="{'blur-page': (blurPage$ | async)}">
  <!-- Sidebar -->
  <nav id="sidebar" [ngClass]="{'show-menu': showMenu}">
    <button href="#menu-toggle" id="menu-toggle" class="navbar-brand" (click)="toggleMenu()">
      <!-- <img src="/assets/images/Icon_BurgerMenu_Mobile.svg" alt=""> -->

      <img src="/assets/images/iconos-web-edu-1.png" alt="" *ngIf="showMenu">
      <img src="/assets/images/iconos-web-edu-2.png" alt="" *ngIf="!showMenu">
    </button>
    <div class="sidebar-header">
      <img src="/assets/images/Logo Fintra.svg" class="logo-fintra">
    </div>

    <ul class="list-unstyled list-menu components">
      <li [ngClass]="{'active': currenturl == '/app/dashboard/requests'}" title="Lista de pre-solicitudes">
        <a routerLink="/app/dashboard/requests"
          [ngClass]="{'dark-blue-font': currenturl == '/app/dashboard/requests'}">pre-solicitudes
          <!-- <i class="fa fa-book" [ngClass]="{'selectec-i': currenturl == '/app/dashboard/requests'}"> -->
          <img src="/assets/images/menu/Pre-solicitud-NO-SEL.png" alt=""
            *ngIf="currenturl != '/app/dashboard/requests'" />
          <img src="/assets/images/menu/Pre-solicitud-SEL.png" alt="" *ngIf="currenturl == '/app/dashboard/requests'" />

        </a>

      </li>
      <li [ngClass]="{'active': currenturl == '/app/dashboard/credits'}" title="Renovaciones de creditos">
        <a routerLink="/app/dashboard/credits"
          [ngClass]="{'dark-blue-font': currenturl == '/app/dashboard/credits'}">renovaciones
          <!-- <i class="fa fa-reply" [ngClass]="{'selectec-i': currenturl == '/app/credits'}"></i> -->
          <img src="/assets/images/menu/Renueva-NO-SEL.png" alt="" *ngIf="currenturl != '/app/dashboard/credits'" />
          <img src="/assets/images/menu/Renueva-SEL.png" alt="" *ngIf="currenturl == '/app/dashboard/credits'" />
        </a>

      </li>
      <li [ngClass]="{'active': currenturl == '/app/new-request'}" title="Nueva pre-solicitud">
        <a routerLink="/app/new-request" [ngClass]="{'dark-blue-font': currenturl == '/app/new-request'}">Nueva
          pre-solicitud
          <!-- <i class="fa fa-plus" [ngClass]="{'selectec-i': currenturl == '/app/new-request'}"></i> -->
          <img src="/assets/images/menu/Nueva-Pre-solicitud-NO-SEL.png" alt=""
            *ngIf="currenturl != '/app/new-request'" />
          <img src="/assets/images/menu//Nueva-Pre-solicitud-SEL.png" alt="" *ngIf="currenturl == '/app/new-request'" />
        </a>

      </li>
      <!-- <li [ngClass]="{'active': false}">
        <a href="#">otros servicios</a>
      </li>
      <li [ngClass]="{'active': false}">
        <a href="#">solicita productos</a>
      </li>
      <li [ngClass]="{'active': false}">
        <a href="#">pqr</a>
      </li> -->
    </ul>

    <div class="footer-menu">
      <button (click)="closeSession()">CERRAR SESIÓN
        <img src="/assets/images/menu/Cerrar-Sesion-SEL.png" alt="">
      </button>
    </div>
  </nav>

  <!-- Page Content -->
  <div id="content" [ngClass]="{'show-menu': showMenu}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class="row" style="width:100%;">
          <div class="col-lg-3  col-12 col-md-4">
            <span class="light-blue-font">
              Nombre cliente
            </span>
            <h5 class="dark-blue-font">
              {{auth.name}}
            </h5>
          </div>
          <div class="col-md-2 col-lg-1"
            [ngClass]="{'visible': (currentBussiness$ | async), 'hidden': !(currentBussiness$ | async)}">
            <span class="light-blue-font">
              Monto
            </span>
            <h5 class="dark-blue-font small">
              {{(currentBussiness$ | async)?.monto | currency:'USD':true:'1.0-0'}}
            </h5>
          </div>
          <div class="col-md-2 col-lg-1"
            [ngClass]="{'visible': (currentBussiness$ | async), 'hidden': !(currentBussiness$ | async)}">
            <span class="light-blue-font">
              Cuotas
            </span>
            <h5 class="dark-blue-font small">
              {{(currentBussiness$ | async)?.plazo}}
            </h5>
          </div>
          <div class="col-md-2 col-lg-2"
            [ngClass]="{'visible': (currentBussiness$ | async), 'hidden': !(currentBussiness$ | async)}">
            <span class="light-blue-font">
              Nº Solicitud
            </span>
            <h5 class="dark-blue-font small">
              {{(currentBussiness$ | async)?.numero_solicitud}}
            </h5>
          </div>
          <div class="col-md-3 col-lg-3"></div>
          <div class="col-md-2 col-lg-2 text-right btn-close-session">
            <!-- <button class="btn btn-outline-primary" style="margin-top: 10px; margin-right:-50px;"
              (click)="closeSession()">Cerrar sesion</button> -->
            <button class="btn button-white"
              style="width: 240px; display: flex; align-items: center; justify-content: center; padding: 3px;"
              routerLink="/app/new-request">
              <p style="font-size:1.7em; margin:0;">+</p>NUEVA PRE-SOLICITUD
            </button>
          </div>
        </div>
      </div>
    </nav>
    <section id="section">
      <router-outlet></router-outlet>
    </section>
    <footer></footer>
  </div>
</div>
<app-address-form></app-address-form>
<app-popup-approved *ngIf="(isApproved$ | async)"></app-popup-approved>
<app-loading-forms></app-loading-forms>
<!-- <app-evident></app-evident> *ngIf="(isApproved$ | async)"-->
