<ngb-tabset class="first-level">

  <ngb-tab [title]="'INFORMACIÓN SOLICITANTE'" [class.active]="tab1?.active">
    <ng-template ngbTabContent>
      <ngb-tabset class="second-level">
        <ngb-tab [title]="'INFORMACIÓN PERSONAL'">
          <ng-template ngbTabContent>
            <app-tab1-personal-information></app-tab1-personal-information>
          </ng-template>
        </ngb-tab>
        <ngb-tab [title]="'INFORMACIÓN LABORAL'">
          <ng-template ngbTabContent>
            <app-tab1-working-information></app-tab1-working-information>
          </ng-template>
        </ngb-tab>
        <ngb-tab [title]="'REFERENCIAS'">
          <ng-template ngbTabContent>
            <app-tab1-references></app-tab1-references>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </ng-template>
  </ngb-tab>


  <ngb-tab [title]="'INFORMACIÓN ESTUDIANTE'" [disabled]="tab2?.disabled" [class.active]="tab2?.active">
    <ng-template ngbTabContent>
      <app-tab2-personal-information></app-tab2-personal-information>
    </ng-template>
  </ngb-tab>

</ngb-tabset>