<ngb-tabset class="first-level">

  <ngb-tab [title]="'INFORMACIÓN SOLICITANTE'" [disabled]="tab1?.disabled" [class.active]="tab1?.active">
    <ng-template ngbTabContent>
      <ngb-tabset class="second-level">
        <ngb-tab [title]="'INFORMACIÓN PERSONAL'" [disabled]="tab1Subtab1?.disabled">
          <ng-template ngbTabContent>
            <app-tab1-personal-information></app-tab1-personal-information>
          </ng-template>
        </ngb-tab>
        <ngb-tab [title]="'INFORMACIÓN LABORAL'" [disabled]="tab1Subtab2?.disabled">
          <app-tab1-personal-information></app-tab1-personal-information>
          <ng-template ngbTabContent>
          </ng-template>
        </ngb-tab>
        <ngb-tab [title]="'REFERENCIAS'" [disabled]="tab1Subtab3?.disabled">
          <app-tab1-personal-information></app-tab1-personal-information>
          <ng-template ngbTabContent>
          </ng-template>
        </ngb-tab>
      </ngb-tabset>
    </ng-template>
  </ngb-tab>


  <ngb-tab [title]="'INFORMACIÓN ESTUDIANTE'" [disabled]="tab2?.disabled" [class.active]="tab2?.active">
    <ng-template ngbTabContent>
      <app-tab1-personal-information></app-tab1-personal-information>
    </ng-template>
  </ngb-tab>
  
</ngb-tabset>