<div class="content-request-credit">
  <div class="step-content">
    <div class="content-message-information">
      <img src="/assets/images/No aprobado_icon-02.png" style="width: 140px; margin-bottom: 2em;">
      <h2>¡Felicidades, tu crédito fue Pre-aprobado!</h2>

      <p>
        Para obtener tu crédito Fintra, inicia sesión con tu <strong>usuario (correo registrado) y contraseña (cédula
          registrada)</strong>
      </p>

      <a class="btn btn-outline-form" href="https://edu.fintra.co/login" target="_blank">INICIAR
        SESIÓN</a>
    </div>
  </div>
</div>