.form-check{
    border-style: solid;
    border-color: rgb(50, 190, 250);
    border-width: 1px;
    border-radius: 7px !important;
    margin-left: 0.7em;
    width: 70px;
    height: 45px;
    align-items: center;
    display: flex;
    
    
}
.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}