<div class="content-request-credit">
  <div class="title-section">
    <h2>Tu crédito educativo en 3 pasos</h2>
  </div>
  <div class="step-buttons">
    <!-- <div class="dashed"></div> -->

    <div class="content-button-step" [ngClass]="{'selected': currentStep == 1, 'visited': currentStep > 1}">
      <div class="button-step">
        1
      </div>
      <span>Simula tu crédito</span>

    </div>
    <div class="lines-step" [ngClass]="{'visited': currentStep > 1}"></div>
    <div class="content-button-step" [ngClass]="{'selected': currentStep == 2, 'visited': currentStep > 2}">
      <div class="button-step">
        2
      </div>
      <span>Crea tu perfil</span>

    </div>
    <div class="lines-step" [ngClass]="{'visited': currentStep > 2}"></div>
    <div class="content-button-step" [ngClass]="{'selected': currentStep == 3}">
      <div class="button-step">
        3
      </div>
      <span>Obtén tu Crédito</span>
    </div>

  </div>

  <div id="wrapper-step-content" class="wrapper-step-content" *ngIf="currentStep == 1">
    <div class="step-content" *ngIf="currentSubStep==1">
      <div class="subtitle-step">
        <p>
          Ingresa los datos reales del titular del crédito y descubre cómo quedarían las cuotas
          aproximadamente.
        </p>
      </div>

      <div class="block-form">
        <form ngNativeValidate (submit)="firstStepSend()" #initForm="ngForm">
          <div class="form-row">
            <div class="form-group col-md-6 col-lg-4">
              <label class="subtitle-form">Primer nombre</label>
              <input type="text" class="form-control" [(ngModel)]="form.primer_nombre" name="primer_nombre"
                required="true" pattern="^[a-zA-Z]*$" title="No está permitido espacios, ni caracteres especiales"
                (keyup)="validateSpaces()" />
              <span *ngIf="spaces" style="color: #dc3545!important;">El primer nombre no debe tener
                espacios</span>
            </div>
            <div class="form-group col-md-6 col-lg-4">
              <label class="subtitle-form">Celular</label>
              <input type="number" class="form-control" [(ngModel)]="form.telefono" name="telefono" required="true"
                max="9999999999" title="Celular invalido" />
            </div>
            <div class="form-group col-md-6 col-lg-4">
              <label class="subtitle-form">Correo electrónico</label>
              <input type="email" class="form-control" [(ngModel)]="form.email" name="email" required="true" />
            </div>
          </div>

          <div class="content-button-step">
            <button class="btn btn-outline-form" [disabled]="!initForm.form.valid">Continuar</button>
          </div>
        </form>
      </div>
    </div>


    <div class="step-content" *ngIf="currentSubStep==2">
      <div class="subtitle-step">
        <p>
          ¡Lo éstas haciendo bien! Estos datos son del estudiante
        </p>
      </div>

      <div class="block-form">
        <form ngNativeValidate (submit)="simulate()" #myForm="ngForm">
          <div class="form-row">
            <div class="form-group col-md-6 col-lg-4">
              <label class="subtitle-form">Ubicación institución</label>
              <select class="form-control" (change)="loadAfiliates()" [(ngModel)]="form.ciudad" name="ciudad"
                required="true" [ngClass]="{'invalid': ciudad.invalid && changeFormStudent }" #ciudad="ngModel">
                <option value="">Seleccione una ciudad</option>
                <option [value]="city.codigo" *ngFor="let city of cities">{{city.ciudad}}</option>
              </select>
            </div>
            <div class="form-group col-md-6 col-lg-4">
              <label class="subtitle-form">Nombre institución</label>
              <select class="form-control" (change)="buildDues()" [(ngModel)]="form.afiliado" name="afiliado"
                required="true" [ngClass]="{'invalid': afiliado.invalid && changeFormStudent }" #afiliado="ngModel">
                <option value="">Seleccione una institución educativa</option>
                <option [value]="item.nit_afiliado" *ngFor="let item of afiliates">
                  {{item.nombre_afiliado}}</option>
              </select>
            </div>
            <div class="form-group col-md-6 col-lg-4">
              <label class="subtitle-form">Tipo de estudio</label>
              <select class="form-control" [(ngModel)]="form.tipo_carrera" name="tipo_carrera" (change)="buildDues()"
                required="true" [ngClass]="{'invalid': tipo_carrera.invalid && changeFormStudent }"
                #tipo_carrera="ngModel">
                <option value="">Seleccione un tipo de estudio</option>
                <option value="PREGRADO">Pregrado</option>
                <option value="POSGRADO">Posgrado</option>
                <option value="CONTINUADA">Educación Continuada</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6 col-lg-4">
              <label class="subtitle-form">Valor matrícula</label>
              <input type="text" class="form-control" [(ngModel)]="form.monto" name="monto" (change)="buildDues()"
                required="true" (keyup)="currency()" [ngClass]="{'invalid': monto.invalid && changeFormStudent }"
                #monto="ngModel">
            </div>
            <div class="form-group col-md-6 col-lg-4">

              <div style="display: flex; ">
                <label class="subtitle-form">Plazo del crédito (meses)</label>
                <div class="mytooltip top" style="margin-left: 10px;">
                  <div class="information-icon">
                    ?
                  </div>
                  <span class="tiptext">Indica el # de cuotas en que desearías diferir tu</span>
                </div>
              </div>

              <select class="form-control" [(ngModel)]="form.num_cuotas" name="num_cuotas" required="true"
                [ngClass]="{'invalid': num_cuotas.invalid && changeFormStudent }" #num_cuotas="ngModel">
                <option value="">Seleccione plazo del crédito</option>
                <option [value]="item" *ngFor="let item of dues">{{item}}</option>
              </select>
            </div>
            <div class="form-group col-md-6 col-lg-4">

              <div style="display: flex;">
                <label class="subtitle-form">Fecha primer pago</label>
                <div class="mytooltip top" style="margin-left: 10px;">
                  <div class="information-icon">
                    ?
                  </div>
                  <span class="tiptext">Se refiere al día en que realizarías tus pagos cada
                    mes.</span>
                </div>
              </div>
              <select class="form-control" [(ngModel)]="form.fecha_pago" name="fecha_pago" (change)="buildDues()"
                required="true" [ngClass]="{'invalid': fecha_pago.invalid && changeFormStudent }" #fecha_pago="ngModel">
                <option value="">Seleccione fecha primer pago</option>
                <option [value]="date" *ngFor="let date of dates">{{date}}</option>
              </select>
            </div>
          </div>

          <div class="terms-and-conditions">
            <!-- <label class="container" style="padding: 0; margin-top: 5px;
                        margin-right: 10px;">
                            <input type="checkbox" [(ngModel)]="polite" name="polite">
                            <span class="checkmark"></span>
                        </label> -->
            <label class="container-new-check">
              <input type="checkbox" [(ngModel)]="polite" name="polite" (change)="changePolite()">
              <span class="checkmark"></span>
            </label>
            <span>Acepto <a href="https://fintra.co/documentos/Politica-de-tratamiento-de-datos-personales-Fintra.pdf"
                target="_blank">Política de tratamiento de datos personales.</a></span>
          </div>
          <div class="content-button-step" *ngIf="!myForm.form.valid && polite"
            style="margin-top: 1em; margin-bottom: 1em;">
            <span style="color: #dc3545!important; text-align: center; max-width: 90%;">Verifique que todos
              los campos estén diligenciados para poder continuar</span>
          </div>
          <div class="content-button-step" style="margin-top: 1em; margin-bottom: 1em;">
            <button class="btn btn-outline-form" (click)="currentSubStep = 1;">volver</button>
            <button class="btn btn-outline-form" type="submit" value="Simular"
              [disabled]="!myForm.form.valid || !polite"> Simular</button>
          </div>


        </form>
      </div>
    </div>

    <div class="step-content" *ngIf="currentSubStep==3">
      <div class="subtitle-step">
        <p style="width: 100%;">
          Resultado de tu Simulación
        </p>
      </div>

      <div class="content-simulation">
        <div class="row">
          <div class="col-md-4">
            <p class="title-item-simulation">
              Nombre Solicitante
            </p>
            <p class="value-item-simulation">
              {{form.primer_nombre}}
            </p>
          </div>
          <div class="col-md-4">
            <p class="title-item-simulation">
              Correo electrónico
            </p>
            <p class="value-item-simulation">
              {{form.email}}
            </p>
          </div>
          <div class="col-md-4">
            <p class="title-item-simulation">
              Celular
            </p>
            <p class="value-item-simulation">
              {{form.telefono}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p class="title-item-simulation">
              Tipo de estudio
            </p>
            <p class="value-item-simulation">
              {{form.tipo_carrera}}
            </p>
          </div>
          <div class="col-md-4">
            <p class="title-item-simulation">
              Ubicación estudio
            </p>
            <p class="value-item-simulation">
              {{getNameCity(form.ciudad)}}
            </p>
          </div>
          <div class="col-md-4">
            <p class="title-item-simulation">
              Nombre institución
            </p>
            <p class="value-item-simulation">
              {{getNameAfiliafo(form.afiliado)}}
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <p class="title-item-simulation">
              Valor de matrícula
            </p>
            <p class="value-item-simulation">
              ${{form.monto}}
            </p>
          </div>
          <div class="col-md-4">
            <p class="title-item-simulation">
              Plazo del crédito
            </p>
            <p class="value-item-simulation">
              {{form.num_cuotas}}
            </p>
          </div>
          <div class="col-md-4">
            <p class="title-item-simulation">
              Fecha primer pago
            </p>
            <p class="value-item-simulation">
              {{form.fecha_pago}}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <div class="result-cuota-content">
              <span>Valor cuota aproximada</span>
              <h2>{{valor_cuota | currency:'USD':true:'1.0-0'}}</h2>
            </div>
          </div>
        </div>




      </div>

      <div class="row message-result-simulation">
        <h2>¡Genial! Ya estás a un paso de tu Pre-aprobado</h2>
        <span>*Verifica tus datos antes de continuar</span>
      </div>

      <div class="content-button-step" style="margin-top: 1em; margin-bottom: 1em;">
        <button class="btn btn-outline-form" (click)="currentSubStep = 2;">volver</button>
        <button class="btn btn-outline-form" type="submit" value="Simular"
          (click)="currentStep = 2; currentSubStep = 1;">continuar</button>
      </div>
    </div>
  </div>

  <div class="wrapper-step-content" *ngIf="currentStep == 2">
    <div class="step-content" *ngIf="currentSubStep==1">
      <div class="subtitle-step">
        <p>
          ¡Ya estás cerca! <br>
          Ingresa estos datos y solicítalo.
        </p>
      </div>

      <div class="block-form">
        <form ngNativeValidate (submit)="runValidation()" #myFormClient="ngForm">
          <div class="form-row" style="justify-content: center;">
            <div class="form-group col-md-6 col-lg-4">
              <label class="subtitle-form">Primer apellido</label>
              <input type="text" class="form-control" [(ngModel)]="form.primer_apellido" name="primer_apellido"
                required="true" [ngClass]="{'invalid': primer_apellido.invalid && changeFormDataCredit }"
                #primer_apellido="ngModel" />
            </div>
            <div class="form-group col-md-6 col-lg-4">
              <label class="subtitle-form">Número de cédula</label>
              <input type="number" class="form-control" [(ngModel)]="form.identificacion" name="identificacion"
                required="true" [ngClass]="{'invalid': identificacion.invalid && changeFormDataCredit }"
                #identificacion="ngModel" />
            </div>
          </div>
          <p *ngIf="invalidCc" class="text-center text-danger">Error al intentar consultar su número de cedula</p>
          <div class="terms-and-conditions">
            <!-- <label class="container" style="padding: 0; margin-top: 5px;
                        margin-right: 10px;">
                            <input type="checkbox" [(ngModel)]="terms" name="terms">
                            <span class="checkmark"></span>
                        </label> -->
            <label class="container-new-check">
              <input type="checkbox" [(ngModel)]="terms" name="terms" (change)="changeTerms()">
              <span class="checkmark"></span>
            </label>
            <span style="max-width: 574px;">Autorizo que la información entregada sea consultada en
              centrales de riesgo. Para
              continuar, debes aceptar los <a (click)="showModal = true;" style="cursor: pointer;">Términos y
                Condiciones.</a></span>
          </div>
          <div class="content-button-step" *ngIf="!myFormClient.form.valid && terms"
            style="margin-top: 1em; margin-bottom: 1em;">
            <span style="color: #dc3545!important; text-align: center; max-width: 90%;">Verifique que todos
              los campos estén diligenciados para poder continuar</span>
          </div>
          <div class="content-button-step" style="margin-top: 1em; margin-bottom: 1em;" *ngIf="!loadingRequest">
            <button class="btn btn-outline-form" (click)="currentStep = 1; currentSubStep = 3;">volver</button>
            <button class="btn btn-outline-form" type="submit" value="Simular"
              [disabled]="!myFormClient.form.valid || !terms">Solicitar</button>
          </div>

          <div class="content-button-step spinner" *ngIf="loadingRequest">
            <div class="lds-spinner">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>



  <div class="wrapper-step-content" *ngIf="currentStep == 3">

    <div class="step-content" *ngIf="currentSubStep==1">
      <div class="content-message-information">
        <h2>Vemos que ya eres cliente Fintra</h2>

        <p>
          Para ingresar a tu cuenta, inicia sesión con tu usuario (correo registrado). Si olvidaste tu
          contraseña has click aquí.
        </p>

        <button class="btn btn-outline-form" routerLink="https://edu.fintra.co/login" target="_blank">INICIAR
          SESIÓN</button>
      </div>
    </div>


    <div class="step-content" *ngIf="currentSubStep==2">
      <div class="content-message-information">
        <img src="/assets/images/No aprobado_icon-02.png" style="width: 140px; margin-bottom: 2em;">
        <h2>¡Felicidades, tu crédito fue Pre-aprobado!</h2>

        <p>
          Para obtener tu crédito Fintra, inicia sesión con tu usuario (correo registrado) y contraseña
          (cédula registrada)
        </p>

        <button class="btn btn-outline-form" routerLink="https://edu.fintra.co/login" target="_blank">INICIAR
          SESIÓN</button>
      </div>
    </div>


    <div class="step-content" *ngIf="currentSubStep==3">
      <div class="content-message-information">
        <img src="/assets/images/No aprobado_icon-01-01.png" style="width: 140px; margin-bottom: 2em;">
        <!-- <h2>Algo no salió bien, pero tranquilo</h2> -->
        <h2>{{messageError}}</h2>

        <p>
          <!-- Te ayudamos a encontrar más opciones. Contáctanos a nuestras líneas de atención disponibles. -->

          Para ingresar a tu cuenta, inicia sesión con tu usuario (correo registrado) y contraseña
          (cédula registrada). <a [routerLink]="['/login']">Ir a iniciar sesión</a>
        </p>


      </div>
    </div>


    <div class="step-content" *ngIf="currentSubStep==4">
      <div class="content-message-information">
        <img src="/assets/images/No aprobado_icon-01-01.png" style="width: 140px; margin-bottom: 2em;">
        <h2>Algo no salió bien, pero tranquilo. Contáctanos directamente para poder ayudarte</h2>

        <div class="content-button-step">
          <button class="btn btn-outline-form">Contáctanos</button>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="custom-modal" *ngIf="showModal">
  <div class="wrapper-modal">
    <div class="title-modal">
      AUTORIZACIÓN PARA CONSULTA ENCENTRALES DE RIESGO
    </div>

    <div class="body-modal">
      Declaro que la información que he suministrado es verídica y doy mi consentimiento expreso e irrevocable a Fintra
      S.A. con NIT. 802.022.016-1 a quien estoy solicitando un crédito para: Consultar en cualquier tiempo en las
      centrales de riesgo, toda la información relevante para conocer mi desempeño como deudor, mi capacidad de pago
      para valorar el riesgo de concederme un crédito. Reportar a las centrales información de riesgo datos, tanto sobre
      el cumplimiento oportuno como sobre el incumplimiento, si lo hubiere, de mis obligaciones crediticias, o de mis
      deberes legales de contenido patrimonial, de tal forma que éstas presenten una información verás, pertinente,
      completa y exacta de mi desempeño como deudor. Suministrar a las centrales de información de riesgos datos
      relativos a mis solicitudes de crédito, créditos como otros atinentes a mis relaciones comerciales, financieras y
      de servicio con el fin de que estos las utilicen en sus estudios estadísticos y de desarrollo de herramientas para
      prevenir el fraude. En mi calidad de Titular de la información, actuando libre y voluntariamente, autorizo a
      Fintra S.A.- y/o a Experian Colombia S.A. (en adelante DataCrédito Experian), Carrera 7 No. 76-35 Tel 3191400 de
      Bogotá D.C., o quien represente sus derechos, a acceder a mis datos personales contenidos en la base de datos de
      Mareigua Ltda. (Mareigua Ltda. con NIT 800.167.353-4), Aportes en Línea (Aportes En Línea S.A.900147238-2),
      Colfondos y/o administradoras de pensiones, y demás Operadores de información de seguridad social autorizados por
      el Ministerio de Salud y Protección Social, a mis datos personales recolectados por medio del presente formulario,
      y a mis datos personales contenidos en la base de datos de DataCrédito Experian (Operador de información
      crediticia), en adelante mi información personal, para darle tratamiento en los términos expresados en la Política
      de Tratamiento de la Información Personal de Fintra S.A. y/o Data Crédito Experian y para finalidades de gestión
      de riesgo crediticio tales como: 
      <ul >
          <li>Elaboración y circulación a terceros de scores crediticios, herramientas de validación de ingresos, herramientas predictivas de ingresos, herramientas para evitar el fraude y en general, herramientas que le permitan a los Suscriptores de DataCrédito Experian, adelantar una adecuada gestión del riesgo crediticio.</li>
          <li>Compararla, contrastarla y complementarla con la información financiera, comercial, crediticio, de servicios y proveniente de terceros países de DataCrédito Experian.</li>
          <li>Compararla, contrastarla y complementarla con la información personal de Mi DataCrédito.</li>
      </ul>
    </div>

    <div class="footer-modal">
      <button style="padding-left: 8px; padding-right: 8px; box-sizing: content-box;" class="btn btn-outline-form" (click)="terms = true; showModal = false;">Acepto ser
        consultado</button>
    </div>
  </div>
</div>

<!-- <button (click)="runValidation()">VALIDACION</button> -->


<div id="iFrameContainer" class="hide">
  <iframe id="iFrame" allow="camera" class="iframe__wrapper" frameborder="0"></iframe>
</div>
