<div class="container">
  <div class="row header">
    <div class="col-lg-10">
      <p class="title title-form">Firma tus documentos</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>Los siguientes documentos se requieren para legalizar tu crédito, firma y sube uno a uno los documentos si
        estás de acuerdo.</p>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-lg-12">
      <ol class="list-group list-group-numbered">
        <ng-container *ngFor="let list of signinFiles;let n =index">
          <li class="list-group-item d-flex justify-content-between align-items-start" *ngIf="list.id_archivo!=447">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{list.descripcion}}</div>
              <p class="dowlader" (click)="downloadFile(list)">Descargar</p>
            </div>
            <ng-container *ngIf="!list.bloquear==true">
              <input type="file" style="display: none" #fileInputFron (change)="onFileSelected(list, $event,n)"
                [disabled]="list.url != '' ? true : false">
              <!-- {{!bloquearCampo[n]}} -->
              <div class="options-file" *ngIf="!bloquearCampo[n]">

                <!-- <img src="/assets/images/download.png" (click)="downloadFile(list)"> -->
                <img src="/assets/images/clip.png" alt="" (click)='fileInputFron.click()'>
                <!-- <img *ngIf="list.archivo_cargado != 'N'" src="/assets/images/trash.png" alt="" (click)="openModal(list)"> -->
              </div>
            </ng-container>
            <ng-container *ngIf="list.bloquear==true">
              <div class="option-file">
                <img  src="/assets/images/trash.png" alt="" (click)="openModal(list)">
              </div>
            </ng-container>
          </li>
        </ng-container>
      </ol>
    </div>
    <div class="col-lg-12">
      <div class="d-flex justify-content-end m-2">
        <div class="content-buttons-next-back" style="position: static;">
          <button class="btn btn-next" (click)="closeModal()" [disabled]="!(firmarActivado==signinFiles.length)">
            <img src="/assets/images/Icon_ChevronRight.svg" alt="">
            <span>
              FIRMAR PAGARE {{firmarActivado}}/{{signinFiles.length}}
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>