<div class="popup-fintra">
  <div class="content-popup">
    <div class="step-popup" *ngIf="currentStep==1">
      <img src="/assets/images/Icon_Trofeo.svg" alt="">
      <h1 class="title-form">Felicitaciones!</h1>
      <h1 class="title-form">¡Tu crédito ha sido Aprobado!</h1>

      <span>
        Siguiente etapa: Adjunta tus documentos.
      </span>
      <p>
        ¿Deseas programar la firma de tu crédito a domicilio?
      </p>

      <div class="row">
        <div class="col-6">
          <button class="btn button-white" >No</button>
        </div>
        <div class="col-6">
          <button class="btn button-blue" (click)="nextStep()">Si</button>
        </div>
      </div>
    </div>

    <div class="step-popup" *ngIf="currentStep==2">
      <h1 class="title-form">Programa tu visita</h1>
      <span> Completa estos campos para agendar la visita</span>
      <p>¿a dónde deseas que vayamos a recoger las firmas?</p>

      <div class="evident-container">
        <ul>
          <li [ngClass]="{'selected': addressSelected=='C'}" (click)="addressSelected='C'">A tu casa</li>
          <li [ngClass]="{'selected': addressSelected=='T'}" (click)="addressSelected='T'">A tu trabajo</li>
          <!-- <li [ngClass]="{'selected': addressSelected=='A'}">A otra dirección</li> -->
        </ul>

        <button class="btn btn-outline" (click)="nextStep()" [disabled]="!addressSelected">Siguiente</button>
      </div>

    </div>

    <div class="step-popup" *ngIf="currentStep==3">
      <h1 class="title-form">Programa tu visita</h1>
      <span> Completa estos campos para agendar la visita</span>
      <p>¿Qué día deseas que vayamos a recoger las firmas?</p>

      <div class="evident-container">
        <input type="text" class="form-control" readonly ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()"
          style="width: 300px;" [(ngModel)]="date" />

        <button class="btn btn-outline" (click)="nextStep()" style="margin-top: 30px;">Siguiente</button>
      </div>

    </div>

    <div class="step-popup" *ngIf="currentStep==4">
      <h1 class="title-form">Programa tu visita</h1>
      <span> Completa estos campos para agendar la visita</span>
      <p>¿En qué horario deseas que vayamos a recoger las firmas?</p>
      <div class="evident-container">
        <ul>
          <li [ngClass]="{'selected': hourSelected=='8am - 12pm'}" (click)="hourSelected='8am - 12pm'">8am - 12pm</li>
          <li [ngClass]="{'selected': hourSelected=='2pm - 5pm'}" (click)="hourSelected='2pm - 5pm'">2pm - 5pm</li>
          <!-- <li [ngClass]="{'selected': addressSelected=='A'}">A otra dirección</li> -->
        </ul>
      </div>
      <button (click)="save()" [disabled]="!hourSelected" class="btn button-blue">PROGRAMAR VISITA</button>
    </div>


    <div class="step-popup" *ngIf="currentStep==5">
      <img src="/assets/images/Icon_FinEtapa.svg" alt="">
      <h1 class="title-form">¡Estupendo!
        Hemos terminado lo más difícil</h1>
      <span style="text-align: center;;">Uno de nuestros asesores te contactará para confirmar la visita programada a tu
        domicilio.</span>

      <button class="btn button-blue" (click)="nextPage()" style="margin-top: 1.5em;">Siguiente etapa</button>
    </div>

  </div>
</div>