<div id="dashboard" class="white-box">
  <div class="row">
    <div class="col-md-6 col-6">
      <h3 class="light-blue-yellow-dark">Mi Cuenta</h3>
    </div>
    <div class="col-md-6 col-6 text-right">
      <span>Historial de solicitudes</span>
    </div>
  </div>

  <div class="row filters">
    <div class="col-md-6">
      <button class="btn btn-outline-primary button-white" routerLink="app/upload" style="margin-right: 10px;">solicitudes</button>
      <button class="btn btn-outline-primary button-white ">creditos</button>
    </div>
    <div class="col-md-6 text-lg-right  ">
      <button class="btn btn-outline-primary button-white " style="width: 300px;">CREAR NUEVA SOLICITUD</button>
    </div>
  </div>

  <app-list-request></app-list-request>
  
</div>
