#dashboard {
  // padding-left: 16px;
  // padding-top: 30px;
  // padding-right: 24px;
}

h3 {
  color: #FFA412;
  font-size: 1.4rem;
  font-family: "Gotham Book";
  font-weight: 600;
}

.filters {
  margin-top: 30px;

  button {
    height: 44px;
  }
}


.row-requests {
  margin-top: 45px;
}




@media (max-width: 768.98px) {
  #dashboard .filters {
    &>div:first-child {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1em;
    }

    &>div:last-child {
      button{
        width: 100% !important;
      }
    }
  }
}


@media (max-width: 575.98px) {}
