<div id="dashboard" class="white-box">
  <div class="row">
    <div class="col-md-6 col-8">
      <h3 class="light-blue-yellow-dark" *ngIf="type_list=='requests'">Pre-solicitudes</h3>
      <h3 class="light-blue-yellow-dark" *ngIf="type_list=='credits'">Renovaciones</h3>
      <h3 class="light-blue-yellow-dark" *ngIf="type_list=='history'">Historial</h3>
    </div>
    <div class="col-md-6 col-4 text-right" *ngIf="auth.tipo_usuario == 'C'">
      <span class="dark-blue-font" style="width: 240px;" [routerLink]="['/app/dashboard/history']"
        [ngClass]="{'selected': type_list == 'history'}" (click)="getHistory()"
        style="cursor: pointer; text-decoration: underline;">
        Historial de créditos
      </span>
    </div>
  </div>

  <!-- <div class="row filters">
    <div class="col-md-6">
      <button class="btn button-blue" [routerLink]="['/app/dashboard/requests']"
        [ngClass]="{'selected': type_list == 'requests'}" style="margin-right: 10px;"
        (click)="getCredits(false)">pre-solicitudes</button>

      <button class="btn button-blue" [routerLink]="['/app/dashboard/credits']"
        [ngClass]="{'selected': type_list == 'credits'}" (click)="getCredits(true)">renovaciones</button>
    </div>
    <div class="col-md-6 text-lg-right" style="display: flex; justify-content: flex-end;">
      <button class="btn button-blue" style="width: 240px; display: flex; align-items: center; justify-content: center;" routerLink="/app/new-request">
        <p style="font-size:1.7em; margin:0; margin-right: 10px;">+</p>NUEVA PRE-SOLICITUD
      </button>
    </div>
  </div> -->

  <div class="row filters" *ngIf=" type_list == 'credits' && auth.tipo_usuario=='E'">
    <div class="form-group col-md-4 col-lg-3">
      <div class="label-input-content">
      </div>
      <input type="text" class="form-control" [(ngModel)]="identificacion" placeholder="Numero de cedula del cliente">
    </div>
    <div class="col-md-4">
      <button class="btn button-blue" (click)="getCredits(true)">Buscar negocios</button>
    </div>
  </div>

  <app-list-request *ngIf=" type_list == 'requests'" [type]="'requests'" (finishList)="loadMore()"></app-list-request>

  <app-list-request *ngIf=" type_list == 'credits'" [type]="'credits'"></app-list-request>

  <app-history-request [loading]="showLoadingHistory" [history]="historyc" [loading]="historyIsLoaded"
    *ngIf="type_list == 'history'">
  </app-history-request>

</div>
