<div class="wrapper" [ngClass]="{'blur-page': (blurPage$ | async)}" *ngIf="state=='FILL_FORM'">
    <form style="padding: 14px;" class="update-info" [formGroup]="form">
        <!-- [formGroup]="form" -->
        <div class="block-form">
            <h1 class="title-form">Actualiza tu información</h1>
            <div class="form-row">

                <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="No. Documento de Identidad"
                        formControlName="nit" (change)="getUserInfo()">
                </div>

                <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="Nombre Cliente" formControlName="nomcli"
                        [readOnly]="true" />
                </div>

                <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="Dirección" formControlName="direccion"
                        (click)="openForm('direccion')" readonly />
                </div>

                <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="Barrio" formControlName="barrio" />
                </div>

                <div class="form-group col-md-4">
                    <!-- <input type="text" class="form-control" placeholder="Departamento" formControlName="coddpto" /> -->
                    <select class="form-control" formControlName="coddpto"
                        (change)="loadCitys(form.controls.coddpto.value)">
                        <option value="">Seleccione departamento</option>
                        <option [value]="item.table_code" *ngFor="let item of dpt">{{item.dato}}
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <select class="form-control" formControlName="ciudad">
                        <option value="">Seleccione ciudad</option>
                        <option [value]="item.codciu" *ngFor="let item of citys">{{item.nomciu}}
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <input type="number" class="form-control" placeholder="Celular" formControlName="telcontacto" />
                </div>

                <!-- <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="Email" formControlName="email" />
                </div>

                <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="Confirmar Email"
                        formControlName="email_validator" />
                </div> -->

            </div>
        </div>

        <div class="block-form">
            <div class="checkbox-container">
                <label class="container">
                    <input type="checkbox" [checked]="termsAndConditions"
                        (change)="termsAndConditions = !termsAndConditions">
                    <span class="checkmark"></span>
                </label>
                <span>Acepto <a  target="_blank" href="/assets/pdf/Política de tratamiento de datos personales - Fintra.pdf">Políticas de Privacidad</a> de datos personales. Aplican condiciones y
                    restricciones</span>
            </div>
        </div>

        <div class="block-form">
            <button class="btn btn-primary" [disabled]="!form.valid || termsAndConditions==false"
                (click)="sendSmsCode()">Guardar información</button>
        </div>

    </form>
</div>


<div *ngIf="state=='FILL_CODE'">
    <form style="padding: 14px;" class="update-info">
        <!-- [formGroup]="form" -->
        <div class="block-form">
            <h1 class="title-form">Digita el codigo que se envio a {{ form.controls.telcontacto.value}}</h1>
            <div class="form-row">

                <div class="form-group col-md-4">
                    <input type="text" class="form-control" placeholder="Codigo de validación" [(ngModel)]="code"
                        name="code">
                </div>
            </div>
        </div>

        <div class="block-form">
            <button class="btn btn-primary" (click)="sendData()" [disabled]="!validateCode">Validar código</button>
        </div>

    </form>
</div>


<div *ngIf="state=='DATE_UPDATED'">

    <h1>Datos actualizados correctamente</h1>
    
</div>
