<form style="padding: 14px;">
  <div class="block-form">
    <h1 class="title-form" [hidden]="tab1?.disabled">Información Personal</h1>
    <div class="form-row">
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Primer apellido</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Segundo apellido</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Primer nombre</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Segundo nombre</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Género</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Estado civil</label>
        <select class="form-control"></select>
      </div>
    </div>

  </div>


  <div class="block-form">
    <div class="form-row">
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Tipo de identificación</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">N° identificación</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Fecha de expedición</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Departamento de expedición</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Ciudad de expedición</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Fecha de nacimiento</label>
        <select class="form-control"></select>
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Departamento de expedición</label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Ciudad de expedición</label>
        <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Fecha de nacimiento</label>
        <select class="form-control"></select>
      </div>
    </div>

  </div>

</form>
