<div class="content-buttons-next-back top">

  <button class="btn btn-next" (click)="save()">
    <img src="/assets/images/Icon_ChevronRight.svg" alt="">
    <span>
      SIGUIENTE FORMULARIO
    </span>
  </button>
</div>
<form style="padding: 14px;" [formGroup]="form">

  <div class="block-form">
    <h1 class="title-form" [hidden]="tab1?.disabled">Información Personal</h1>
    <div class="form-row">
      <div class="form-group col-md-6 col-lg-4 ">
        <label class="subtitle-form">Primer apellido</label>
        <input type="text" class="form-control" formControlName="primer_apellido">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <div class="label-input-content">
          <label class="subtitle-form">Segundo apellido</label>
          <span *ngIf="!validator('segundo_apellido')">(Opcional)</span>
        </div>
        <input type="text" class="form-control" formControlName="segundo_apellido">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Primer nombre</label>
        <input type="text" class="form-control" formControlName="primer_nombre">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <div class="label-input-content">
          <label class="subtitle-form">Segundo nombre</label>
          <span *ngIf="!validator('segundo_nombre')">(Opcional)</span>
        </div>
        <input type="text" class="form-control" formControlName="segundo_nombre">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Género</label>
        <select class="form-control" formControlName="genero">
          <option value="">Seleccione Género</option>
          <option value="M">Masculino</option>
          <option value="F">Femenino</option>
        </select>

      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Estado civil</label>
        <select class="form-control" formControlName="estado_civil">
          <option value="">Seleccione estado civil</option>
          <option [value]="item.table_code" *ngFor="let item of (formData$ | async)?.ESTCIV">{{item.dato}}</option>
        </select>

      </div>
    </div>
  </div>

  <div class="block-form">
    <div class="form-row">
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Tipo de identificación</label>
        <select class="form-control" formControlName="tipo_id">
          <option value="">Seleccione tipo de identificación</option>
          <option [value]="item.table_code" *ngFor="let item of (formData$ | async)?.TIPID">{{item.dato}}</option>
        </select>

      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">N° identificación</label>
        <input type="number" class="form-control" formControlName="identificacion" maxlength="10">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Fecha de expedición</label>
        <div class="calendar-container">
          <!-- <img src="/assets/images/Icon_Calendario.svg" alt=""> -->
          <input type="text" formControlName="fecha_expedicion_id" class="form-control" readonly ngbDatepicker
            #d1="ngbDatepicker" (click)="d1.toggle()" [minDate]="{year: 1950, month: 1, day: 1}"/> 
        </div>
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Departamento de expedición</label>
        <select class="form-control" formControlName="dpto_expedicion_id"
          (change)="loadCitys(form.controls.dpto_expedicion_id.value, 'ciudad_expedicion_id')">
          <option value="">Seleccione departamento</option>
          <option [value]="item.table_code" *ngFor="let item of (formData$ | async)?.DPTO">{{item.dato}}</option>
        </select>

      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Ciudad de expedición</label>
        <select class="form-control" formControlName="ciudad_expedicion_id">
          <option value="">Seleccione una ciudad</option>
          <option [value]="item.codciu" *ngFor="let item of ciudad_expedicion_id">{{item.nomciu}}</option>
        </select>
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Fecha de nacimiento</label>
        <div class="calendar-container">
          <input type="text" formControlName="fecha_nacimiento" class="form-control" readonly ngbDatepicker
            #d2="ngbDatepicker" (click)="d2.toggle()" [minDate]="{year: 1950, month: 1, day: 1}" />
        </div>
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Departamento de nacimiento</label>
        <select class="form-control" formControlName="dpto_nacimiento"
          (change)="loadCitys(form.controls.dpto_nacimiento.value, 'ciudad_nacimiento')">
          <option value="">Seleccione departamento</option>
          <option [value]="item.table_code" *ngFor="let item of (formData$ | async)?.DPTO">{{item.dato}}</option>
        </select>
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Ciudad de nacimiento</label>
        <select class="form-control" formControlName="ciudad_nacimiento">
          <option value="">Seleccione una ciudad</option>
          <option [value]="item.codciu" *ngFor="let item of ciudad_nacimiento">{{item.nomciu}}</option>
        </select>
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <div class="label-input-content">
          <label class="subtitle-form">Teléfono</label>
          <span *ngIf="!validator('telefono')">(Opcional)</span>
        </div>
        <input type="text" class="form-control" formControlName="telefono" maxlength="10" />
      </div>

      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Email</label>
        <input type="email" class="form-control" formControlName="email"
          ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/">
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Celular</label>
        <input type="text" class="form-control" formControlName="celular" maxlength="10">
        <div *ngIf="form.controls.celular.errors?.minlength" class="alert alert-danger">
          Celular invalido
        </div>
        <div *ngIf="form.controls.celular.errors?.maxlength" class="alert alert-danger">
          Celular invalido
        </div>

      </div>
    </div>
  </div>

  <div class="block-form">
    <div class="form-row">
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Dirección de residencia</label>
        <input type="text" class="form-control" formControlName="direccion" (click)="openForm('direccion')" readonly>
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Barrio</label>
        <ngx-select-dropdown formControlName="barrio" [multiple]="false" [config]="configSelect"
                                    [options]="neighborhoods"></ngx-select-dropdown>
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Tipo de vivienda</label>
        <select class="form-control" formControlName="tipo_vivienda">
          <option value="">Seleccione tipo de vivienda</option>
          <option [value]="item.table_code" *ngFor="let item of (formData$ | async)?.TIPOVIVID">{{item.dato}}</option>
        </select>
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Tiempo de residencia</label>
        <select class="form-control" formControlName="tiempo_residencia">
          <option value="">Seleccione tipo de residencia</option>
          <option [value]="'1 Años'">Menos de un 1 año</option>
          <option [value]="'2 Años'">2 años</option>
          <option [value]="'3 Años'">3 años</option>
          <option [value]="'4 Años'">4 años</option>
          <option [value]="'5 Años'">5 años o mas</option>
        </select>
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Estrato</label>
        <select class="form-control" formControlName="estrato">
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>
          <option value=6>6</option>
        </select>
      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">¿Posee bien raíz?</label>
        <select class="form-control" formControlName="posee_bienes">
          <option value="N">No</option>
          <option value="S">Si</option>
        </select>
      </div>

      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Nivel de estudio</label>
        <select class="form-control" formControlName="nivel_estudio">
          <option value="">Seleccione Nivel de estudio</option>
          <option [value]="item.table_code" *ngFor="let item of (formData$ | async)?.TIPCAR">{{item.dato}}</option>
        </select>


      </div>
      <div class="form-group col-md-6 col-lg-4">
        <label class="subtitle-form">Estado civil de los padres del titular</label>
        <select class="form-control" formControlName="estado_civil_padres">
          <option value="">Seleccione estado civil</option>
          <option [value]="item.table_code" *ngFor="let item of (formData$ | async)?.ESTCIVPDR">{{item.dato}}</option>
        </select>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="d-flex justify-content-end">
        <div class="content-buttons-next-back" style="position: static;">

          <button class="btn btn-next" (click)="save()">
            <img src="/assets/images/Icon_ChevronRight.svg" alt="">
            <span>
              SIGUIENTE FORMULARIO
            </span>
          </button>
        </div>
      </div>
    </div>
  </div>

</form>