.title-form_{
    color: rgb(50, 190, 250);
    font-family: "Gotham Bold";
    font-size: 1.4em;    
    text-rendering: optimizeLegibility;
}

.univ{
    color: rgb(52, 119, 148);
    font-family: "Gotham Bold";
    font-size: 1.0em;    
    margin-bottom: 1.5em;
    text-rendering: optimizeLegibility;
}

