<form style="padding: 14px;" [formGroup]="form">

    <div class="block-form">
        <h1 class="title-form" [hidden]="tab2?.disabled">Información Personal</h1>
        <div class="form-row">
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Tipo de identificación</label>
                <select class="form-control" formControlName="tipo_id"></select>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">N° identificación</label>
                <input type="text" class="form-control" formControlName="identificacion">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Fecha de expedición</label>
                <div class="calendar-container">
                    <!-- <img src="/assets/images/Icon_Calendario.svg" alt=""> -->
                    <input type="text" formControlName="fecha_expedicion_id" class="form-control" readonly ngbDatepicker
                        #d1="ngbDatepicker" (click)="d1.toggle()" />
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Primer apellido</label>
                <input type="text" class="form-control" formControlName="dpto_expedicion_id">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Segundo apellido</label>
                <input type="text" class="form-control" formControlName="ciudad_expedicion_id">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Primer nombre</label>
                <input type="text" class="form-control" formControlName="ciudad_expedicion_id">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Segundo nombre</label>
                <input type="text" class="form-control" formControlName="ciudad_expedicion_id">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Genero</label>
                <input type="text" class="form-control" formControlName="dpto_nacimiento">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Estado civil</label>
                <select class="form-control" formControlName="ciudad_nacimiento"></select>
            </div>
        </div>
    </div>

    <div class="block-form">
        <div class="form-row">
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Departamento de expedición</label>
                <select class="form-control" formControlName="dpto_expedicion_id"></select>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Ciudad de expedición</label>
                <select class="form-control" formControlName="ciudad_expedicion_id"></select>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Fecha de nacimiento</label>
                <div class="calendar-container">
                    <input type="text" formControlName="fecha_nacimiento" class="form-control" readonly ngbDatepicker
                        #d2="ngbDatepicker" (click)="d2.toggle()" />
                </div>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">departamento de nacimiento</label>
                <select class="form-control" formControlName="dpto_nacimiento"></select>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Ciudad de nacimiento</label>
                <select class="form-control" formControlName="ciudad_nacimiento"></select>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Telefono</label>
                <input type="text" class="form-control" formControlName="telefono" />
            </div>

            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Email</label>
                <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Celular</label>
                <input type="text" class="form-control" formControlName="celular">
            </div>
        </div>
    </div>

    <div class="block-form">
        <div class="form-row">
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Dirección de residencia</label>
                <input type="text" class="form-control" formControlName="direccion" (click)="openForm()" readonly>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Barrio</label>
                <select class="form-control" formControlName="barrio"></select>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Tipo de vivienda</label>
                <select class="form-control" formControlName="tipo_vivienda"></select>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Tiempo de residencia</label>
                <input type="text" formControlName="tiempo_residencia" class="form-control">

                <!-- <div class="container"> -->
                <!-- <div class="row">
            <div class="form-group col-sm-6 col-sm-6 col-md-6 col-lg-6">
              <input type="text" formControlName="" class="form-control" placeholder="Años">
            </div>
            <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6">
              <input type="text" formControlName="" class="form-control" placeholder="Meses">
            </div>
          </div> -->
                <!-- </div> -->
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Estrato</label>
                <input type="number" class="form-control" formControlName="estrato">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Nivel sisbén</label>
                <select class="form-control" formControlName="posee_bienes"></select>
            </div>

            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Nivel de estudio</label>
                <select class="form-control" formControlName="nivel_estudio"></select>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Tipo de colegio del estudiante</label>
                <select class="form-control" formControlName="estado_civil_padres"></select>
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">¿Estudiante trabaja?</label>
                <select class="form-control" formControlName="estado_civil_padres"></select>
            </div>
        </div>
    </div>

    <div class="block-form">
        <h1 class="title-form_" [hidden]="tab2?.disabled">Información Institucíon Educativa</h1>
        <h2 class="univ">(Fundacion Universidad del Norte)</h2>
        <div class="form-row">            
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Tipo de carrera</label>
                <input type="number" class="form-control" formControlName="estrato">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Programa</label>
                <input type="text" class="form-control" formControlName="estrato">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Código estudiante</label>
                <input type="text" class="form-control" formControlName="estrato">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Semestre</label>
                <input type="number" class="form-control" formControlName="estado_civil_padres">
            </div>
            <div class="form-group col-md-6 col-lg-4">
                <label class="subtitle-form">Parentesco con el solicitante</label>
                <select class="form-control" formControlName="estado_civil_padres"></select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-info button-next-tab " (click)="impForm()">Siguiente Formulario</button>
            </div>
        </div>
    </div>

</form>